<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#PUT-FUNCTION-INTO-.py-FILE" data-toc-modified-id="PUT-FUNCTION-INTO-.py-FILE-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>PUT FUNCTION INTO <code>.py</code> FILE</a></span></li><li><span><a href="#Additional-Database" data-toc-modified-id="Additional-Database-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Additional Database</a></span></li><li><span><a href="#Link1" data-toc-modified-id="Link1-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Link1</a></span></li><li><span><a href="#Link2" data-toc-modified-id="Link2-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Link2</a></span></li><li><span><a href="#Link3" data-toc-modified-id="Link3-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Link3</a></span></li><li><span><a href="#Link4" data-toc-modified-id="Link4-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Link4</a></span></li><li><span><a href="#Link5" data-toc-modified-id="Link5-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Link5</a></span></li></ul></div>

Going to practice ripping text from PDFs enable to put them into a database.

In [126]:
import PyPDF2
import re
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

## PUT FUNCTION INTO `.py` FILE

In [3]:
pageObj = pdfReader.getPage(0)
al = pageObj.extractText()

So there is a head to this document and we need to remove it. Since it will not be standard slice (every state has a different length of a name), we will have to see if there are patterns between the documents that we can exploit.

In [4]:
al

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 1 of 81\n'

In [5]:
# pdf file object
# you can find find the pdf file with complete code in below
pdfFileObj = open('state_pdfs/ak-alpha.pdf', 'rb')
# pdf reader object
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
# number of pages in pdf
pages = pdfReader.numPages
pages

5

In [6]:
pageObj = pdfReader.getPage(0)
ak = pageObj.extractText()

In [7]:
ak

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alaska\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nANDERSON THOMAS \nEDWARD\nMARINE CORPS\nCPL\n19390727\nSPENARD\nANCHORAGE\n19621006\nN\nBANTA MICHAEL DEAN\nARMY\nPFC\n19491005\nCORDOVA\nVALDEZ-\nCORDOVA\n19701002\nY\nBARR EDWARD \nNASUESAK\nNAVY\nSN\n19491022\nBREVIG \nMISSION\nNOME\n19690503\nY\nBARR THOMAS M\nARMY\nSP5\n19450701\nANCHORAGE\nANCHORAGE\n19690512\nY\nBAUER RICHARD GENE\nARMY\nSP5\n19500619\nANCHORAGE\nANCHORAGE\n19691104\nY\nBETTS LARRY LE ROY\nARMY\n2LT\n19461011\nEAGLE RIVER\nANCHORAGE\n19691121\nY\nBROWN CHARLES \nEDWARD\nARMY\nPFC\n19421003\nTHORNE BAY\nPRINCE OF \nWALES-OUTER \nKETCHIKAN\n19671206\nY\nBROWN DAVID DEE JR\nMARINE CORPS\nPFC\n19491010\nWRANGELL\nWRANGELL-\nPETERSBURG\n19680416\nY\nBULLOCK GARY EDWIN\nARMY\nSP4\n19420918\nANCHORAGE\nANCHORAGE\n19670131\nY\nCHILDERS WILLIAM \nSTEVEN\nARMY\nWO1\n19470523\nFAIRBANKS\nFAIRBANKS \nNORTH STAR\n19690103\nY\nCHMIEL DONALD GEORGE\nARMY\nSSG\n19440801\nCHUGIAK\nANCHORAGE\n19700825\nY\nCOOK CLINTON ARTHUR\nARMY\nSGT\n19481013\nHYDABURG\nPRINCE OF \nWALES-OUTER \nKETCHIKAN\n19700428\nY\nCOX DANIEL FRANKLIN\nARMY\nSP5\n19490904\nELMENDORF \nAFB\nANCHORAGE\n19710115\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 1 of 5\n'

___
For both of these records, all the data exists between the words "County" and "Source". I will grab everything in between the two words.
___

In [8]:
m = re.search(r"(?<=County\n).*(?=Source)", ak, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
m.group(0)

'ANDERSON THOMAS \nEDWARD\nMARINE CORPS\nCPL\n19390727\nSPENARD\nANCHORAGE\n19621006\nN\nBANTA MICHAEL DEAN\nARMY\nPFC\n19491005\nCORDOVA\nVALDEZ-\nCORDOVA\n19701002\nY\nBARR EDWARD \nNASUESAK\nNAVY\nSN\n19491022\nBREVIG \nMISSION\nNOME\n19690503\nY\nBARR THOMAS M\nARMY\nSP5\n19450701\nANCHORAGE\nANCHORAGE\n19690512\nY\nBAUER RICHARD GENE\nARMY\nSP5\n19500619\nANCHORAGE\nANCHORAGE\n19691104\nY\nBETTS LARRY LE ROY\nARMY\n2LT\n19461011\nEAGLE RIVER\nANCHORAGE\n19691121\nY\nBROWN CHARLES \nEDWARD\nARMY\nPFC\n19421003\nTHORNE BAY\nPRINCE OF \nWALES-OUTER \nKETCHIKAN\n19671206\nY\nBROWN DAVID DEE JR\nMARINE CORPS\nPFC\n19491010\nWRANGELL\nWRANGELL-\nPETERSBURG\n19680416\nY\nBULLOCK GARY EDWIN\nARMY\nSP4\n19420918\nANCHORAGE\nANCHORAGE\n19670131\nY\nCHILDERS WILLIAM \nSTEVEN\nARMY\nWO1\n19470523\nFAIRBANKS\nFAIRBANKS \nNORTH STAR\n19690103\nY\nCHMIEL DONALD GEORGE\nARMY\nSSG\n19440801\nCHUGIAK\nANCHORAGE\n19700825\nY\nCOOK CLINTON ARTHUR\nARMY\nSGT\n19481013\nHYDABURG\nPRINCE OF \nWALES-OUTER \nKETCHIKAN\n19700428\nY\nCOX DANIEL FRANKLIN\nARMY\nSP5\n19490904\nELMENDORF \nAFB\nANCHORAGE\n19710115\nY\n'

In [9]:
m = re.search(r"(?<=County\n).*(?=Source)", al, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
m.group(0)

'ABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\n'

In [10]:
m = re.search(r"(?<=County\n).*(?=Source)", al, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
trial = m.group(0)
trial

'ABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\n'

In [11]:
state_list = trial.splitlines()  #breaks on the newline
print(len(state_list))
state_list[:10]

130

['ABRAMS TIMOTHY C JR',
 'ARMY',
 'PFC',
 '19461104',
 'TUSCALOOSA',
 'TUSCALOOSA',
 '19670103',
 'Y',
 'ABSTON JAMES ESTUS JR',
 'ARMY']

Great. Now that I can get the data into lists with an indiviual entries.

OK, now lets make a function that goes through each PDF to scrape the data. I will use the function above to put the data into the proper column. Then I will embed that into a loop that will go through all the PDFs in the folder.

In [12]:
def scrape_pdf(pdf_file): #Accepts in a PDF and returns the text of the PDF broken at newlines.
    
    pdfFileObj = open(pdf_file, 'rb')               #Opens file
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj)    #Reads the file
    pages = pdfReader.numPages                      #Gets the number of pages to cycle through
    
    counter = 0
    data_list = []
    
    while counter < pages:
        
        pageObj = pdfReader.getPage(counter)
        text = pageObj.extractText()
        
        m = re.search(r"(?<=County\n).*(?=Source)", text, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
        data = m.group(0)
        data_list.extend(data.splitlines())
        
        counter += 1
        
    data_list.pop() #The last thing at the end of the PDF, on the last page, is some text. Removing it will make it easier to deal with the data.
    
    return (data_list)

Now lets check if my function worked.

In [13]:
temp = scrape_pdf('state_pdfs/al-alpha.pdf')
len(temp)

10043

In [14]:
10043/7

1434.7142857142858

There seems to be an issue. Had this worked properly, the above number should 1208 or at least a whole number. After reviewing the PDF, there is a newline character after some of the names. The following entry in the data is the `service` type. 

Since there is a limited number of military services, I will loop through the data checking the preceeding entires after the `name` column. If a name is broken into two lines, I will merge them into one. As long as the first entry is correct, this process will work for all the PDFs.

In [15]:
military = ['ARMY', 'NAVY', 'MARINE CORPS', 'AIR FORCE']

In [16]:
check = temp[:106]

counter = len(check)

while counter > 0:
    if check[1] not in military:
        
        print(check[1] + ' WHAT, WHAT?!')
        
        check[0] = check[0] + check[1]
        check.remove(check[1])
    
    print(check[:8])
    del check[:8]
    counter = len(check)

['ABRAMS TIMOTHY C JR', 'ARMY', 'PFC', '19461104', 'TUSCALOOSA', 'TUSCALOOSA', '19670103', 'Y']
['ABSTON JAMES ESTUS JR', 'ARMY', 'PFC', '19441102', 'COTTONDALE', 'TUSCALOOSA', '19670227', 'Y']
FRANKLIN WHAT, WHAT?!
['ACTON MARION FRANKLIN', 'ARMY', 'PFC', '19470901', 'HUNTSVILLE', 'MADISON', '19660411', 'Y']
['ADAMS JAMES CONRAD', 'ARMY', 'MAJ', '19381025', 'PHENIX CITY', 'RUSSELL', '19700501', 'Y']
['ADAMS SPENCER', 'ARMY', 'SSG', '19340506', 'MOBILE', 'MOBILE', '19680215', 'Y']
['ADAMS WALTER LEE', 'ARMY', 'PFC', '19461227', 'MCINTOSH', 'WASHINGTON', '19670610', 'Y']
['ADAMSON LARRY ONEAL', 'ARMY', 'SP4', '19460910', 'FAIRFAX', 'CHAMBERS', '19691003', 'Y']
['ADDISON ONEAL', 'ARMY', 'SP5', '19270506', 'WEST ENSLEY', 'JEFFERSON', '19660504', 'Y']
['ADKISON CARL ELMUS', 'ARMY', 'SP4', '19490531', 'GADSDEN', 'ETOWAH', '19690812', 'Y']
['AKINS ADRIAN ALAN', 'ARMY', 'SP5', '19490404', 'CORDOVA', 'WALKER', '19691025', 'Y']
['ALEXANDER BOBBY RAY', 'MARINE CORPS', 'CPL', '19470213', 'DECATUR', 'MORGAN', '19671116', 'Y']
['ALEXANDER DAVID J JR', 'ARMY', 'PFC', '19480228', 'ANNISTON', 'CALHOUN', '19680718', 'Y']
JR WHAT, WHAT?!
['ALLEN GRANVILLE JOEL JR', 'NAVY', 'PO3', '19471102', 'BIRMINGHAM', 'JEFFERSON', '19680523', 'Y']

Fantastic, it works! now lets tweak this a bit and make a list of lists then I can throw into a `DataFrame` easily.

In [17]:
def prep_for_df(data_in_list, state):  #Takes in a list and the state, as a string. It will return a list of lists.
    
    big_long_list = data_in_list.copy()   #Making a deep copy, so I don't effect the underlying list. 
    output = []
    counter = len(big_long_list)

    while counter > 0:
        if big_long_list[1] not in military:

            big_long_list[0] = big_long_list[0] + ' ' + big_long_list[1]
            big_long_list.remove(big_long_list[1])

        place_holder = big_long_list[:8]
        place_holder.append(state)
        output.append(place_holder)
        del big_long_list[:8]
        counter = len(big_long_list)
    
    return(output)

In [18]:
bama = scrape_pdf('state_pdfs/al-alpha.pdf')
how_long = prep_for_df(bama, "AL")
len(how_long)

1208

In [19]:
blerg = pd.DataFrame(how_long, columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state'])

In [20]:
print(blerg.shape)
blerg.head()

(1208, 9)

,name,service,rank_rate,birthdate,home_city,home_county,incident_death,body_rec,state
0,ABRAMS TIMOTHY C JR,ARMY,PFC,19461104,TUSCALOOSA,TUSCALOOSA,19670103,Y,AL
1,ABSTON JAMES ESTUS JR,ARMY,PFC,19441102,COTTONDALE,TUSCALOOSA,19670227,Y,AL
2,ACTON MARION FRANKLIN,ARMY,PFC,19470901,HUNTSVILLE,MADISON,19660411,Y,AL
3,ADAMS JAMES CONRAD,ARMY,MAJ,19381025,PHENIX CITY,RUSSELL,19700501,Y,AL
4,ADAMS SPENCER,ARMY,SSG,19340506,MOBILE,MOBILE,19680215,Y,AL

Well it looks like I got everything all the peieces together. All that is is left to run through the folder of the PDFs, get the `state` from the file name, and let it go.

In [21]:
pdf_paths = []
depth = 1
#Getting the directory of the PDF files.
for dirpath, dirname, filenames in os.walk('state_pdfs'):
    for name in filenames:
        #The len(dirpath) is just to focus on the .pdf files without grabbing the other folders.
        if name.endswith('.pdf') == True and len(dirpath) == 10:
            pdf_paths.append(os.path.join(dirpath, name))
pdf_paths

['state_pdfs/me-alpha.pdf',
 'state_pdfs/al-alpha.pdf',
 'state_pdfs/la-alpha.pdf',
 'state_pdfs/nm-alpha.pdf',
 'state_pdfs/ks-alpha.pdf',
 'state_pdfs/il-alpha.pdf',
 'state_pdfs/sc-alpha.pdf',
 'state_pdfs/wy-alpha.pdf',
 'state_pdfs/mn-alpha.pdf',
 'state_pdfs/wa-alpha.pdf',
 'state_pdfs/ia-alpha.pdf',
 'state_pdfs/ar-alpha.pdf',
 'state_pdfs/tn-alpha.pdf',
 'state_pdfs/sd-alpha.pdf',
 'state_pdfs/pa-alpha.pdf',
 'state_pdfs/md-alpha.pdf',
 'state_pdfs/ca-alpha.pdf',
 'state_pdfs/oh-alpha.pdf',
 'state_pdfs/ct-alpha.pdf',
 'state_pdfs/mi-alpha.pdf',
 'state_pdfs/ny-alpha.pdf',
 'state_pdfs/ak-alpha.pdf',
 'state_pdfs/ky-alpha.pdf',
 'state_pdfs/hi-alpha.pdf',
 'state_pdfs/mo-alpha.pdf',
 'state_pdfs/fl-alpha.pdf',
 'state_pdfs/ut-alpha.pdf',
 'state_pdfs/nj-alpha.pdf',
 'state_pdfs/tx-alpha.pdf',
 'state_pdfs/de-alpha.pdf',
 'state_pdfs/co-alpha.pdf',
 'state_pdfs/va-alpha.pdf',
 'state_pdfs/vt-alpha.pdf',
 'state_pdfs/ok-alpha.pdf',
 'state_pdfs/in-alpha.pdf',
 'state_pdfs/mt-alpha.pdf',
 'state_pdfs/nd-alpha.pdf',
 'state_pdfs/dc-alpha.pdf',
 'state_pdfs/ma-alpha.pdf',
 'state_pdfs/wv-alpha.pdf',
 'state_pdfs/or-alpha.pdf',
 'state_pdfs/ga-alpha.pdf',
 'state_pdfs/wi-alpha.pdf',
 'state_pdfs/nv-alpha.pdf',
 'state_pdfs/az-alpha.pdf',
 'state_pdfs/ms-alpha.pdf',
 'state_pdfs/nc-alpha.pdf',
 'state_pdfs/id-alpha.pdf',
 'state_pdfs/ne-alpha.pdf',
 'state_pdfs/nh-alpha.pdf',
 'state_pdfs/ri-alpha.pdf']

Now lets throw it all together to test. I am going to verify it works for all the states and DC.

In [23]:
for pdf in pdf_paths:
    
    state = str(pdf[11:13].upper())
    
    print(pdf)
    print(state)
    
    place_holder = scrape_pdf(pdf)
    
    #print(place_holder)
    
    data = prep_for_df(place_holder, state)
    
    pd.DataFrame(data, columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state'])

state_pdfs/me-alpha.pdf
ME
state_pdfs/al-alpha.pdf
AL
state_pdfs/la-alpha.pdf
LA
state_pdfs/nm-alpha.pdf
NM
state_pdfs/ks-alpha.pdf
KS

IndexError: list index out of range

There seems to be an issue with the KS records, so going to investigate that.

In [24]:
ks_data = scrape_pdf('state_pdfs/ks-alpha.pdf')

In [25]:
print(len(ks_data))
ks_data[:34]

5262

['ACHESON CHARLES ',
 'RALPH',
 'ARMY',
 'PFC',
 '19470120',
 'PALCO',
 'ROOKS',
 '19671121',
 'Y',
 'ACOSTA JOSE FRANCISCO',
 'MARINE CORPS',
 'CPL',
 '19470525',
 'WICHITA',
 'SEDGWICK',
 '19671001',
 'Y',
 'ADAM JOHN QUINCY',
 'AIR FORCE',
 'SMSGT',
 '19471222',
 'BETHEL',
 'WYANDOTTE',
 '19680522',
 'N',
 'ADAMS THOMAS ',
 'EDWARD',
 'NAVY',
 'SN',
 '19451105',
 'TOPEKA',
 'SHAWNEE',
 '19690227',
 'Y']

In [26]:
prep_for_df(ks_data, 'KS')

IndexError: list index out of range

My prep function is not working as intended. I am going to make a trouble shooting one that I will add print statesments enable to troubleshoot.

In [28]:
def TS_prep_for_df(data_in_list, state):  #Takes in a list and the state, as a string. It will return a list of lists.
    
    big_long_list = data_in_list.copy()    #Making a deep copy, so I don't effect the underlying list. 
    
    output = []
    
    counter = len(big_long_list)

    while counter > 0:
        
        if big_long_list[1] not in military:

            big_long_list[0] = big_long_list[0] + ' ' + big_long_list[1]
            big_long_list.remove(big_long_list[1])

        place_holder = big_long_list[:8]
        place_holder.append(state)
        
        output.append(place_holder)
        
        print(place_holder)
        
        del big_long_list[:8]
        counter = len(big_long_list)
    
    #return(output)

In [29]:
TS_prep_for_df(ks_data, 'KS')

['ACHESON CHARLES  RALPH', 'ARMY', 'PFC', '19470120', 'PALCO', 'ROOKS', '19671121', 'Y', 'KS']
['ACOSTA JOSE FRANCISCO', 'MARINE CORPS', 'CPL', '19470525', 'WICHITA', 'SEDGWICK', '19671001', 'Y', 'KS']
['ADAM JOHN QUINCY', 'AIR FORCE', 'SMSGT', '19471222', 'BETHEL', 'WYANDOTTE', '19680522', 'N', 'KS']
['ADAMS THOMAS  EDWARD', 'NAVY', 'SN', '19451105', 'TOPEKA', 'SHAWNEE', '19690227', 'Y', 'KS']
['ADAMS WILLIAM CARL', 'MARINE CORPS', 'SGT', '19451002', 'JUNCTION CITY', 'GEARY', '19690823', 'Y', 'KS']
['ALDERMAN ANDREW  ALBERT', 'NAVY', 'PO3', '19440512', 'COFFEYVILLE', 'MONTGOMERY', '19670317', 'Y', 'KS']
['ALLENDORF MICHAEL  GEORGE', 'ARMY', 'CPL', '19480702', 'TOPEKA', 'SHAWNEE', '19690311', 'Y', 'KS']
['ALLGOOD FRANKIE  EUGENE', 'MARINE CORPS', 'LTCOL', '19300501', 'FT SCOTT', 'BOURBON', '19680326', 'N', 'KS']
['ALVORD RONNIE EUGENE', 'ARMY', 'PFC', '19470111', 'HUTCHINSON', 'RENO', '19680305', 'Y', 'KS']
['AMERINE KENT L', 'ARMY', 'SP4', '19430404', 'GREAT BEND', 'BARTON', '19660802', 'Y', 'KS']
['AMMANN ALBERT FRANK', 'ARMY', '1LT', '19440110', 'ARGONIA', 'SUMNER', '19700915', 'Y', 'KS']
['ANDERSON ALFRED EARL', 'MARINE CORPS', 'LCPL', '19480207', 'SUNFLOWER', 'JOHNSON', '19671106', 'Y', 'KS']
['ANDERSON DENIS LEON', 'NAVY', 'LTJG', '19421024', 'HOPE', 'DICKINSON', '19680111', 'Y', 'KS']
['ANDERSON JAMES  RICHMOND', 'ARMY', 'SSG', '19430807', 'SCRANTON', 'OSAGE', '19680209', 'Y', 'KS']
['ANDERSON LANNIE RAY', 'ARMY', 'PFC', '19500719', 'LINCOLN', 'LINCOLN', '19700211', 'Y', 'KS']
['APPLEGATE NEWELL F SR', 'ARMY', 'SGM', '19290728', 'EUREKA', 'GREENWOOD', '19710410', 'Y', 'KS']
['ARB FRANCIS LOREN', 'ARMY', 'PFC', '19430116', 'MELVERN', 'OSAGE', '19670601', 'Y', 'KS']
['ARBUTHNOT JAMES  MALCOLM', 'ARMY', 'SP4', '19461105', 'PRAIRIE ', 'VILLAGE', 'JOHNSON', '19660330', 'KS']
['Y ARNETT JAMES DOUGLAS', 'ARMY', 'PFC', '19490124', 'WICHITA', 'SEDGWICK', '19680915', 'Y', 'KS']
['ARNOLD RICHARD EARL', 'ARMY', 'SP4', '19410722', 'LARNED', 'PAWNEE', '19660129', 'Y', 'KS']
['AST STEVEN VINCENT', 'ARMY', 'CPL', '19500209', 'EMPORIA', 'LYON', '19710302', 'Y', 'KS']
['ATKINS JAMES', 'MARINE CORPS', 'LCPL', '19470610', 'WICHITA', 'SEDGWICK', '19691005', 'Y', 'KS']
['AVILA THOMAS ROBERT', 'MARINE CORPS', 'CPL', '19471221', 'WICHITA', 'SEDGWICK', '19680107', 'Y', 'KS']
['BADWAY VICTOR WOLF  JR', 'MARINE CORPS', 'LCPL', '19500925', 'WICHITA', 'SEDGWICK', '19700221', 'Y', 'KS']
['BAILEY CHARLES  CLIFFORD', 'ARMY', 'PFC', '19470424', 'EUREKA', 'GREENWOOD', '19680602', 'Y', 'KS']
['BALENTINE ROLAND JR', 'ARMY', 'PFC', '19480424', 'KANSAS CITY', 'WYANDOTTE', '19671003', 'Y', 'KS']
['BALES CHARLES ROBERT', 'ARMY', 'SP4', '19471117', 'SHAWNEE ', 'MISSION', 'JOHNSON', '19680822', 'KS']
['Y BALL MERLIN EUGENE', 'ARMY', 'PFC', '19470101', 'GARDEN CITY', 'FINNEY', '19670314', 'Y', 'KS']
['BANNON GARY CLIFFORD', 'ARMY', 'PFC', '19451009', 'LEON', 'BUTLER', '19670520', 'Y', 'KS']
['BARKSDALE JERRY DEAN', 'MARINE CORPS', 'LCPL', '19460514', 'BERRYTON', 'SHAWNEE', '19680131', 'Y', 'KS']
['BARNETT GARY JOE', 'ARMY', 'CPT', '19460513', 'MISSION', 'JOHNSON', '19700321', 'Y', 'KS']
['BARR TERRY LEE', 'ARMY', 'SP4', '19460522', 'KANSAS CITY', 'WYANDOTTE', '19690817', 'Y', 'KS']
['BARRETT GEORGE  DWAYNE', 'ARMY', 'PFC', '19440618', 'READING', 'LYON', '19680320', 'Y', 'KS']
['BAUER LAWRENCE  EDWARD', 'ARMY', 'CPL', '19460416', 'LOUISBURG', 'MIAMI', '19690430', 'Y', 'KS']
['BAUGHMAN JOHN OLIVER', 'ARMY', 'SGT', '19490513', 'JUNCTION CITY', 'GEARY', '19690419', 'Y', 'KS']
['BELDEN LARRY GENE', 'MARINE CORPS', 'PFC', '19491110', 'ESBON', 'JEWELL', '19690726', 'Y', 'KS']
['BELL CHARLES MARTIN', 'NAVY', 'PO3', '19421126', 'WATHENA', 'DONIPHAN', '19680103', 'Y', 'KS']
['BELLER WILLIAM  RUSSELL JR', 'MARINE CORPS', 'PFC', '19461027', 'SALINA', 'SALINE', '19670430', 'Y', 'KS']
['BENNEFELD STEVEN  HENRY', 'MARINE CORPS', 'PFC', '19471224', 'GIRARD', 'CRAWFORD', '19670729', 'N', 'KS']
['BERGAN MERLIN  HERMAN', 'ARMY', 'SFC', '19250826', 'JUNCTION CITY', 'GEARY', '19680812', 'Y', 'KS']
['BERGER GERALD DAVID', 'MARINE CORPS', 'CAPT', '19420707', 'TOPEKA', 'SHAWNEE', '19680805', 'Y', 'KS']
['BERRIER TOMMY JOE', 'MARINE CORPS', 'LCPL', '19500125', 'KANSAS CITY', 'WYANDOTTE', '19690816', 'Y', 'KS']
['BERWERT PATRICK  MICHAEL', 'MARINE CORPS', 'PFC', '19470323', 'TOPEKA', 'SHAWNEE', '19680325', 'Y', 'KS']
['BICKFORD RALPH NEVIN', 'ARMY', 'CPL', '19490121', 'WICHITA', 'SEDGWICK', '19690322', 'Y', 'KS']
['BILLINGSLY LEE WAYNE', 'ARMY', 'CPT', '19440426', 'HUTCHINSON', 'RENO', '19720722', 'Y', 'KS']
['BINDER GARY LEE', 'NAVY', 'CN', '19461206', 'HAYS', 'ELLIS', '19671013', 'Y', 'KS']
['BIRD DANNIE LEON', 'ARMY', 'SP4', '19471230', 'WEBBER', 'JEWELL', '19690114', 'Y', 'KS']
['BIRD SAMUEL RICHARD', 'ARMY', 'MAJ', '19400127', 'WICHITA', 'SEDGWICK', '19670127', 'Y', 'KS']
['BISHOP JAMES LOUIS', 'ARMY', 'SP4', '19460227', 'WICHITA', 'SEDGWICK', '19690623', 'Y', 'KS']
['BITTLE DOUGLAS ROBERT', 'ARMY', 'SP4', '19431004', 'ARKANSAS ', 'CITY', 'COWLEY', '19690621', 'KS']
['Y BLAND ISAAC', 'ARMY', 'PFC', '19421229', 'WICHITA', 'SEDGWICK', '19680320', 'Y', 'KS']
['BLANSCET MICHAEL  JOHN', 'ARMY', 'CPT', '19481203', 'MERRIAM', 'JOHNSON', '19700606', 'Y', 'KS']
['BLITCH BERNARD L', 'ARMY', 'SP5', '19320418', 'JUNCTION CITY', 'GEARY', '19660916', 'Y', 'KS']
['BOESE ROBERT LEE', 'ARMY', 'CPL', '19461229', 'MARION', 'MARION', '19690523', 'Y', 'KS']
['BOOLIN CLARENCE  HENRY', 'ARMY', 'SP4', '19480317', 'OVERLAND ', 'PARK', 'JOHNSON', '19690322', 'KS']
['Y BORDERS DARELD ', 'NORVAL', 'ARMY', 'SGT', '19470210', 'MISSION', 'JOHNSON', '19680702', 'KS']
['Y BOWLES HARRY OWEN', 'ARMY', 'SP4', '19530413', 'DOWNS', 'OSBORNE', '19711017', 'Y', 'KS']
['BOWLING JOSEPH PERRY', 'ARMY', 'SGT', '19440127', 'WICHITA', 'SEDGWICK', '19680211', 'Y', 'KS']
['BOWMAN DONALD  ROBERT', 'ARMY', 'PFC', '19471124', 'LAWRENCE', 'DOUGLAS', '19680208', 'Y', 'KS']
['BOYD RICHARD EUGENE', 'NAVY', 'SN', '19440723', 'LAWRENCE', 'DOUGLAS', '19680325', 'Y', 'KS']
['BRACK HARRY HUBERT  JR', 'ARMY', 'PFC', '19501204', 'LEOTI', 'WICHITA', '19711022', 'Y', 'KS']
['BRADBURY STEVEN  WAYNE', 'ARMY', 'SP4', '19490119', 'WICHITA', 'SEDGWICK', '19690713', 'Y', 'KS']
['BRADFORD ALLEN ROYAL', 'ARMY', 'CPL', '19470101', 'LIBERAL', 'SEWARD', '19680507', 'Y', 'KS']
['BRANDT GEAROLD LEE', 'ARMY', 'PFC', '19500508', 'SALINA', 'SALINE', '19690610', 'Y', 'KS']
['BRAY RALPH OSCAR JR', 'ARMY', 'CPT', '19420612', 'OLATHE', 'JOHNSON', '19690712', 'Y', 'KS']
['BREEDING MICHAEL  HUGH', 'MARINE CORPS', '1STLT', '19450319', 'BLUE RAPIDS', 'MARSHALL', '19700212', 'N', 'KS']
['BRENNER DAVID ALDEN', 'ARMY', 'SSG', '19460402', 'PARSONS', 'LABETTE', '19680401', 'Y', 'KS']
['BRENNER DAVID GEORGE', 'AIR FORCE', 'MAJ', '19330926', 'MANHATTAN', 'RILEY', '19680613', 'Y', 'KS']
['BRENNER KENNETH  JAMES', 'ARMY', 'CPL', '19480615', 'HOPE', 'DICKINSON', '19690329', 'Y', 'KS']
['BRESHEARS ALAN  WAYNE', 'NAVY', 'PO3', '19481010', 'FT SCOTT', 'BOURBON', '19690812', 'Y', 'KS']
['BROOKS BARTON W', 'ARMY', 'SP4', '19470118', 'CLAYTON', 'DECATUR', '19680225', 'Y', 'KS']
['BROWN KENNETH  LAVERN', 'ARMY', 'SP5', '19500111', 'FT SCOTT', 'BOURBON', '19701102', 'Y', 'KS']
['BROWNING GARY LEE', 'ARMY', 'SP4', '19480909', 'HUTCHINSON', 'RENO', '19680918', 'Y', 'KS']
['BROWNING RAYMOND  VENSON', 'ARMY', 'CPL', '19460806', 'LAWRENCE', 'DOUGLAS', '19671012', 'Y', 'KS']
['BRULL MICHAEL JOSEPH', 'ARMY', 'SGT', '19471016', 'ATCHISON', 'ATCHISON', '19690508', 'Y', 'KS']
['BRYANT BOBBY RAY', 'ARMY', 'PFC', '19470517', 'WICHITA', 'SEDGWICK', '19661002', 'Y', 'KS']
['BUCHANAN JACK LYNN', 'MARINE CORPS', 'CPL', '19471009', 'WICHITA', 'SEDGWICK', '19670901', 'Y', 'KS']
['BUCKRIDGE MARVIN  DOUGLAS', 'ARMY', 'SP4', '19480105', 'EMPORIA', 'LYON', '19670818', 'Y', 'KS']
['BUNCH JAMES GEORGE JR', 'ARMY', 'SGT', '19480428', 'TOPEKA', 'SHAWNEE', '19690409', 'Y', 'KS']
['BURGESS LAWRENCE  DEAN', 'ARMY', 'SGT', '19491228', 'OTTAWA', 'FRANKLIN', '19700606', 'Y', 'KS']
['BURKETT CLOYCE ORAL  JR', 'AIR FORCE', 'TSGT', '19301104', 'KANSAS CITY', 'WYANDOTTE', '19671008', 'Y', 'KS']
['BURNAM STEVEN WAYNE', 'ARMY', 'SP4', '19480414', 'WICHITA', 'SEDGWICK', '19681104', 'Y', 'KS']
['BUSH EDWARD L', 'ARMY', 'WO1', '19430312', 'WICHITA', 'SEDGWICK', '19670320', 'Y', 'KS']
['BUTTS DARRELL WAYNE', 'ARMY', 'PFC', '19480327', 'WICHITA', 'SEDGWICK', '19670622', 'Y', 'KS']
['CALVIN STANLEY DEAN', 'ARMY', 'SP4', '19490404', 'EL DORADO', 'BUTLER', '19700221', 'Y', 'KS']
['CAMDEN JOHNNIE ROGER', 'MARINE CORPS', 'PFC', '19500410', 'WICHITA', 'SEDGWICK', '19680714', 'Y', 'KS']
['CANADY TROY VERNAL', 'ARMY', 'SP4', '19510102', 'KANSAS CITY', 'WYANDOTTE', '19700413', 'Y', 'KS']
['CANFIELD BOYD', 'ARMY', 'CPL', '19480530', 'TOPEKA', 'SHAWNEE', '19680828', 'Y', 'KS']
['CAREY BARTON  WAINWRIGHT', 'ARMY', 'PFC', '19460426', 'MANHATTAN', 'RILEY', '19680326', 'Y', 'KS']
['CARLEY TIMOTHY LYNN', 'ARMY', 'SP4', '19490330', 'EMPORIA', 'LYON', '19690326', 'Y', 'KS']
['CARTER OTIS', 'ARMY', 'PFC', '19500615', 'INDEPENDENCE', 'MONTGOMERY', '19700930', 'Y', 'KS']
['CASE DANIEL CHARLES', 'NAVY', 'SN', '19450712', 'WICHITA', 'SEDGWICK', '19700411', 'Y', 'KS']
['CASTOR JAMES WILLIAM', 'MARINE CORPS', 'CPL', '19480924', 'NATOMA', 'OSBORNE', '19690813', 'Y', 'KS']
['CHADWICK BILLY  RAYMOND', 'ARMY', 'SP4', '19480903', 'MANHATTAN', 'RILEY', '19690617', 'Y', 'KS']
['CHAPMAN KURTIS NOLAN', 'MARINE CORPS', 'LCPL', '19471202', 'OVERLAND ', 'PARK', 'JOHNSON', '19680509', 'KS']
['Y CHRISTESON LEONARD ', 'WAYNE', 'ARMY', 'PFC', '19490227', 'DURHAM', 'MARION', '19680812', 'KS']
['Y CHRISTIAN DAVID ', 'MARION', 'NAVY', 'LTJG', '19410115', 'LANE', 'FRANKLIN', '19650602', 'KS']
['Y CLAFLIN RICHARD AMES', 'AIR FORCE', 'MAJ', '19390702', 'KANSAS CITY', 'WYANDOTTE', '19670726', 'N', 'KS']
['CLARK LARRY RAY', 'ARMY', 'SP5', '19420518', 'WICHITA', 'SEDGWICK', '19690619', 'Y', 'KS']
['CLARK RONNIE LEE', 'ARMY', 'CPL', '19480217', 'HUGOTON', 'STEVENS', '19680225', 'Y', 'KS']
['CLARK TIMOTHY  RICHARD', 'ARMY', 'PFC', '19460325', 'KANSAS CITY', 'WYANDOTTE', '19670608', 'Y', 'KS']
['COE KENNETH EUGENE', 'ARMY', 'SP4', '19451215', 'ANTHONY', 'HARPER', '19670702', 'Y', 'KS']
['COLLINS GARY DEAN', 'NAVY', 'SN', '19480817', 'JAMESTOWN', 'CLOUD', '19680928', 'Y', 'KS']
['COMER WILLIAM  MARVIN JR', 'NAVY', 'PO2', '19421210', 'LARNED', 'PAWNEE', '19680201', 'Y', 'KS']
['CONRARDY RICHARD  JOHN', 'ARMY', 'PFC', '19510505', 'WRIGHT', 'FORD', '19700702', 'Y', 'KS']
['CONROY RONALD LEE', 'ARMY', 'WO1', '19471103', 'TOPEKA', 'SHAWNEE', '19681003', 'Y', 'KS']
['COOMBS DAN L F III', 'ARMY', '1LT', '19470401', 'OVERLAND ', 'PARK', 'JOHNSON', '19701219', 'KS']
['Y COON KEITH DAVID ED ', 'WILL', 'MARINE CORPS', 'PFC', '19490316', 'TOPEKA', 'SHAWNEE', '19680216', 'KS']
['Y COOPER CHARLES ', 'EDWARD', 'ARMY', 'SGT', '19380217', 'BELLE PLAINE', 'SUMNER', '19660415', 'KS']
['Y COOPER JAMES ', 'RAYMOND', 'MARINE CORPS', 'PFC', '19470801', 'LAWRENCE', 'DOUGLAS', '19670510', 'KS']
['Y COPELAND WILLIAM E II', 'MARINE CORPS', 'LCPL', '19461114', 'ESKRIDGE', 'WABAUNSEE', '19660325', 'Y', 'KS']
['CORCORAN BRUCE  ANTHONY', 'ARMY', 'PFC', '19470611', 'OBERLIN', 'DECATUR', '19670319', 'Y', 'KS']
['CORR CLIFFORD WAYNE', 'ARMY', 'SGT', '19491005', 'VIOLA', 'SEDGWICK', '19710328', 'Y', 'KS']
['COSTELLO LAWRENCE R', 'ARMY', 'SGT', '19410312', 'KANSAS CITY', 'WYANDOTTE', '19661101', 'Y', 'KS']
['COURTNEY JAMES IRA', 'ARMY', 'SSG', '19240310', 'KANSAS CITY', 'WYANDOTTE', '19660608', 'Y', 'KS']
['COWAN SAMUEL PAIGE JR', 'ARMY', 'SP4', '19470912', 'KANSAS CITY', 'WYANDOTTE', '19680418', 'Y', 'KS']
['COX GARY DEAN', 'MARINE CORPS', 'PFC', '19480501', 'KANSAS CITY', 'WYANDOTTE', '19681117', 'Y', 'KS']
['CRAIG EDWARD LEE', 'ARMY', 'SP4', '19490120', 'LIBERAL', 'SEWARD', '19700201', 'Y', 'KS']
['CRAIG JIMMY LEON', 'MARINE CORPS', 'LCPL', '19490403', 'MULVANE', 'MULTIPLE', '19670929', 'Y', 'KS']
['CRAIG REX LEE', 'MARINE CORPS', 'CAPT', '19421010', 'KANSAS CITY', 'WYANDOTTE', '19670405', 'Y', 'KS']
['CRAWSHAW STEEVE  ALEXANDER', 'ARMY', 'SSG', '19461229', 'WILLIAMSTOW', 'N', 'JEFFERSON', '19690506', 'KS']
['Y CRIST KENNETH ROY', 'AIR FORCE', 'CAPT', '19440825', 'BREWSTER', 'THOMAS', '19681217', 'Y', 'KS']
['CRUSE GEORGE LARRY', 'ARMY', 'PFC', '19471005', 'LIBERAL', 'SEWARD', '19680502', 'Y', 'KS']
['CUNNINGHAM CARL  EDWIN', 'MARINE CORPS', 'PFC', '19441209', 'NEOSHO ', 'RAPIDS', 'LYON', '19690716', 'KS']
['Y DANIELS JAMES MICHAEL', 'MARINE CORPS', 'LCPL', '19460328', 'WICHITA', 'SEDGWICK', '19670907', 'Y', 'KS']
['DARTY OMER GENE', 'ARMY', 'PSG', '19280514', 'FT RILEY', 'MULTIPLE', '19651210', 'Y', 'KS']
['DAVENPORT JOHN  JUNIOR', 'ARMY', 'SP4', '19400602', 'JUNCTION CITY', 'GEARY', '19650731', 'Y', 'KS']
['DAVIS CHARLES EUGENE', 'MARINE CORPS', 'CPL', '19471022', 'WICHITA', 'SEDGWICK', '19680428', 'Y', 'KS']
['DAVIS EMMETT RAY', 'MARINE CORPS', 'PFC', '19480419', 'KANSAS CITY', 'WYANDOTTE', '19661122', 'Y', 'KS']
['DAVIS JAMES THOMAS', 'AIR FORCE', 'CAPT', '19370824', 'HUGOTON', 'STEVENS', '19670708', 'Y', 'KS']
['DAVIS JOHN LAWRENCE', 'MARINE CORPS', 'LCPL', '19481128', 'PLEASANTON', 'LINN', '19680829', 'Y', 'KS']
['DAVIS YALE REZIN JR', 'AIR FORCE', 'MAJ', '19331220', 'SALINA', 'SALINE', '19681119', 'Y', 'KS']
['DECOW MELVIN DALE', 'MARINE CORPS', 'LCPL', '19431005', 'DENNIS', 'LABETTE', '19680525', 'Y', 'KS']
['DELAUGHDER DAVID LEE', 'MARINE CORPS', 'PFC', '19490219', 'AUGUSTA', 'BUTLER', '19670420', 'Y', 'KS']
['DENNIS WILLIAM R III', 'NAVY', 'SA', '19460707', 'LAWRENCE', 'DOUGLAS', '19670318', 'Y', 'KS']
['DENTON DENNIS ALAN', 'MARINE CORPS', 'PFC', '19500131', 'HOLTON', 'JACKSON', '19690917', 'Y', 'KS']
['DERRITT EDDIE RAY', 'MARINE CORPS', 'CPL', '19450720', 'LEAVENWORTH', 'LEAVENWORTH', '19660503', 'Y', 'KS']
['DICKEY DERREL KEITH', 'ARMY', 'SGT', '19500211', 'ARCADIA', 'CRAWFORD', '19700723', 'Y', 'KS']
['DICKEY GARY LYNN', 'MARINE CORPS', 'LCPL', '19431107', 'WICHITA', 'SEDGWICK', '19650723', 'Y', 'KS']
['DICKINSON DANIEL  ALBERT', 'ARMY', 'SP4', '19440811', 'WICHITA', 'SEDGWICK', '19651206', 'Y', 'KS']
['DIEDERICH JOHN LEO', 'ARMY', 'SGT', '19480129', 'JENNINGS', 'DECATUR', '19680823', 'Y', 'KS']
['DILLON DONALD EUGENE', 'MARINE CORPS', 'SSGT', '19340812', 'LAWRENCE', 'DOUGLAS', '19670706', 'Y', 'KS']
['DILORENZO RAYMOND  JOHN', 'ARMY', '1LT', '19440727', 'EDNA', 'LABETTE', '19700207', 'Y', 'KS']
['DIMITT ROBERT VICTOR', 'ARMY', 'SP4', '19470827', 'JOHNSON', 'STANTON', '19681024', 'Y', 'KS']
['DODGE WARD KENT', 'AIR FORCE', 'COL', '19290314', 'DIGHTON', 'LANE', '19670705', 'Y', 'KS']
['DODSON ERNEST DEAN', 'ARMY', 'SP4', '19460716', 'WICHITA', 'SEDGWICK', '19690103', 'Y', 'KS']
['DONOVAN MICHAEL LEO', 'AIR FORCE', 'CAPT', '19441109', 'NORTON', 'NORTON', '19710930', 'N', 'KS']
['DOORNBOS DON  MICHAEL', 'MARINE CORPS', 'CPL', '19460218', 'WICHITA', 'SEDGWICK', '19680214', 'Y', 'KS']
['DORNON CHARLES  WILLIAM', 'ARMY', 'SP4', '19460826', 'WICHITA', 'SEDGWICK', '19690618', 'Y', 'KS']
['DORSEY LEWIS R G', 'ARMY', 'PFC', '19471109', 'EMPORIA', 'LYON', '19680312', 'Y', 'KS']
['DOTTER EDWIN EARL', 'ARMY', 'SGT', '19421029', 'WICHITA', 'SEDGWICK', '19690530', 'Y', 'KS']
['DROUHARD PETER  AUGUST', 'ARMY', 'SP4', '19480115', 'WICHITA', 'SEDGWICK', '19690714', 'Y', 'KS']
['DUDLEY GARY WILLIAM', 'MARINE CORPS', 'PFC', '19500524', 'TOPEKA', 'SHAWNEE', '19690114', 'Y', 'KS']
['DUKELOW CORNELIOUS  P II', 'ARMY', 'PFC', '19460510', 'KANSAS CITY', 'WYANDOTTE', '19690122', 'Y', 'KS']
['ECKELL JOHN W', 'ARMY', 'SP4', '19450325', 'ISABEL', 'BARBER', '19680505', 'Y', 'KS']
['ECKHART RUSS EUGENE', 'MARINE CORPS', 'LCPL', '19470108', 'NORCATUR', 'DECATUR', '19670529', 'Y', 'KS']
['EISENHOUR JAMES  DOYLE', 'ARMY', 'WO1', '19451010', 'LA CROSSE', 'RUSH', '19680818', 'Y', 'KS']
['EITEL JACK ORVAL', 'MARINE CORPS', '1STLT', '19410727', 'SCOTT CITY', 'SCOTT', '19650708', 'Y', 'KS']
['ELDRIDGE JAMES WILBUR', 'ARMY', 'PFC', '19461202', 'NICKERSON', 'RENO', '19670519', 'Y', 'KS']
['ELGAARD ROBERT JAMES', 'MARINE CORPS', 'CAPT', '19350529', 'WICHITA', 'SEDGWICK', '19670205', 'Y', 'KS']
['ELLIOTT ROBERT JOE', 'ARMY', 'CW2', '19500125', 'WELLINGTON', 'SUMNER', '19710908', 'Y', 'KS']
['ELSENRATH JOHN JOE', 'ARMY', 'SGT', '19431207', 'WICHITA', 'SEDGWICK', '19690329', 'Y', 'KS']
['EMBREY RALPH CURTIS II', 'ARMY', 'CW2', '19461019', 'VIRGIL', 'GREENWOOD', '19700413', 'Y', 'KS']
['EMERY JOE LOUIS', 'ARMY', 'PFC', '19490607', 'LEAVENWORTH', 'LEAVENWORTH', '19681227', 'Y', 'KS']
['ENLOW PHILIP JAMES', 'ARMY', 'SP5', '19500228', 'MANHATTAN', 'RILEY', '19691101', 'Y', 'KS']
['EVANS DONALD ALLEN', 'ARMY', 'CPT', '19341020', 'AUGUSTA', 'BUTLER', '19680130', 'Y', 'KS']
['EVANS GERALD BRUCE', 'ARMY', 'SGT', '19300927', 'JUNCTION CITY', 'GEARY', '19651117', 'Y', 'KS']
['EVANS JAMES JOSEPH', 'NAVY', 'CDR', '19300509', 'VALLEY FALLS', 'JEFFERSON', '19650402', 'Y', 'KS']
['EVERHART WILLIAM  JOSEPH', 'ARMY', 'SFC', '19310724', 'CANTON', 'MCPHERSON', '19631108', 'Y', 'KS']
['FEARNO JOSEPH  BARNETT', 'AIR FORCE', 'MAJ', '19320717', 'COOLIDGE', 'HAMILTON', '19660321', 'Y', 'KS']
['FEW SAMUEL ARTHUR', 'ARMY', '1LT', '19440818', 'KANSAS CITY', 'WYANDOTTE', '19680820', 'Y', 'KS']
['FIFFE RICHARD LEE', 'ARMY', 'CPL', '19490419', 'CONCORDIA', 'CLOUD', '19690320', 'Y', 'KS']
['FINCH JOHN WEBSTER', 'ARMY', 'SP4', '19450911', 'ARKANSAS ', 'CITY', 'COWLEY', '19650630', 'KS']
['Y FISHER HENRY LEE', 'ARMY', 'PFC', '19470531', 'HAVEN', 'RENO', '19670618', 'Y', 'KS']
['FONSECA MICHAEL  JEROME', 'MARINE CORPS', 'PFC', '19470608', 'GARDNER', 'JOHNSON', '19671027', 'Y', 'KS']
['FORD JOSEPH AVERLL III', 'MARINE CORPS', 'LCPL', '19430831', 'PARSONS', 'LABETTE', '19650824', 'Y', 'KS']
['FORREST MONTE WAYNE', 'ARMY', 'CPL', '19481106', 'ARGONIA', 'SUMNER', '19700805', 'Y', 'KS']
['FOUNDS GERALD DEAN', 'ARMY', 'SP5', '19290325', 'FRANKFORT', 'MARSHALL', '19650207', 'Y', 'KS']
['FOWLER JAMES ISIAH JR', 'ARMY', 'SGT', '19391027', 'WHITE CITY', 'MORRIS', '19680804', 'Y', 'KS']
['FRY ROLLAND KEITH', 'ARMY', 'SP4', '19490225', 'HUTCHINSON', 'RENO', '19690502', 'Y', 'KS']
['FUQUA HARRY IVAN JR', 'ARMY', 'PFC', '19470701', 'LEAVENWORTH', 'LEAVENWORTH', '19680229', 'Y', 'KS']
['GADSON EDDIE DEAN', 'MARINE CORPS', 'PFC', '19490309', 'SALINA', 'SALINE', '19680508', 'Y', 'KS']
['GANDY MICHAEL LEE', 'ARMY', '2LT', '19451015', 'DEXTER', 'COWLEY', '19680329', 'Y', 'KS']
['GARDNER SAMUEL RAY', 'ARMY', '1LT', '19430507', 'WICHITA', 'SEDGWICK', '19680505', 'Y', 'KS']
['GARRETT JAMES  MICHAEL', 'NAVY', 'PO3', '19470816', 'TOPEKA', 'SHAWNEE', '19691129', 'Y', 'KS']
['GENTRY HENRY JR', 'ARMY', 'PFC', '19390930', 'WICHITA', 'SEDGWICK', '19651205', 'Y', 'KS']
['GERBER MICHAEL  EUGENE', 'ARMY', 'SP4', '19480916', 'CONWAY ', 'SPRINGS', 'SUMNER', '19690527', 'KS']
['Y GFELLER JOHN HERBERT', 'ARMY', 'PSG', '19330214', 'ABILENE', 'DICKINSON', '19680219', 'Y', 'KS']
['GIBSON DAVID PARKER', 'ARMY', 'CPT', '19390220', 'LAWRENCE', 'DOUGLAS', '19670408', 'Y', 'KS']
['GILLASPIE PAUL THOMAS', 'ARMY', 'SGT', '19500501', 'TOPEKA', 'SHAWNEE', '19701127', 'Y', 'KS']
['GILLEN THOMAS ELDON', 'AIR FORCE', 'COL', '19330508', 'KINGMAN', 'KINGMAN', '19700218', 'N', 'KS']
['GIRDNER ROBERT ORAL', 'ARMY', 'PFC', '19460416', 'SHAWNEE ', 'MISSION', 'JOHNSON', '19680404', 'KS']
['Y GLADDEN JAMES ', 'TAYLOR JR', 'NAVY', 'PO2', '19400606', 'WATHENA', 'DONIPHAN', '19700612', 'KS']
['Y GLAZE KENNETH LEE', 'MARINE CORPS', 'SSGT', '19330131', 'HUTCHINSON', 'RENO', '19660823', 'Y', 'KS']
['GLYNN DENNIS WAYNE', 'MARINE CORPS', 'PFC', '19490820', 'SHAWNEE ', 'MISSION', 'JOHNSON', '19680912', 'KS']
['Y GODSEY JAMES ', 'FREDERICK', 'ARMY', '1LT', '19420815', 'HUMBOLDT', 'ALLEN', '19670824', 'KS']
['Y GOOCH WESLEY LEE', 'ARMY', 'PFC', '19470428', 'LEAVENWORTH', 'LEAVENWORTH', '19680112', 'Y', 'KS']
['GOODE JACK DEE', 'ARMY', 'SP4', '19470217', 'TOPEKA', 'SHAWNEE', '19680421', 'Y', 'KS']
['GOODNER ROBERT  EUGENE', 'ARMY', 'PFC', '19491208', 'IOLA', 'ALLEN', '19690521', 'Y', 'KS']
['GOODWIN BOB JACK', 'ARMY', 'CPL', '19480116', 'WICHITA', 'SEDGWICK', '19670903', 'Y', 'KS']

IndexError: list index out of range

Well I found the error. It looks like if the county or city name was too long, they also created a newline for it. It efforts to account for all this, I will alter my `scrape_pdf` function.

After some delibration, I couldn't find a way to tell the difference between the records that contained a newline on the `county` record or on the `home` record. These records will have to be seperately dealt with. Since county data can be more easily grouped, I will condense on the `home` records in hopes that the county names are all one liners. I will gather lists of counties in all states to verify that data when I proceede later on.

In [30]:
def TS_prep_for_df(data_in_list, state):  #Takes in a list and the state, as a string. It will return a list of lists.
    
    big_long_list = data_in_list.copy()    #Making a deep copy, so I don't effect the underlying list. 
    output = []
    counter = len(big_long_list)

    while counter > 0:
        
        #This loop checks if there is newline in the name line
        
        if big_long_list[1] not in military:

            big_long_list[0] = big_long_list[0] + big_long_list[1]
            
            big_long_list.remove(big_long_list[1])
            
        #New code to account for the new lines in the home and county entries 
        #This checks the list to see if any new lines are present
        try:
            int(big_long_list[6])
            
        except ValueError:
            
            #If there are two newlines, one in home and one in county, this will be taken care of here
            try:
                int(big_long_list[7])
                
            except ValueError:
                big_long_list[5] = big_long_list[5] + big_long_list[6]
                del big_long_list[6]
                
            #If there is only one newline, this will put the middle entry into the home cell
            try:
                int(big_long_list[6])
                
            except ValueError:
                big_long_list[4] = big_long_list[4] + big_long_list[5]
                del big_long_list[5]
        
        place_holder = big_long_list[:8]
        
        
        place_holder.append(state)
        
        output.append(place_holder)
        
        del big_long_list[:8]
        counter = len(big_long_list)
    
    return(output)

In [31]:
to_inspect = TS_prep_for_df(ks_data, 'KS')
to_inspect[-2]

['ZELLER MICHAEL CHARLES',
 'ARMY',
 'SP4',
 '19470902',
 'WAMEGOPOTTAWATOMI',
 'E',
 '19680225',
 'Y',
 'KS']

So it worked, mostly. The above is an example of where my solution fails. The next iteration of this function should reference the counties, per state, and verify if the name is correct. I am going to move forward at this point. I am going to formalize the `prep_for_df` function and see if I can put it altogether.

In [32]:
def prep_for_df(data_in_list, state):  #Takes in a list and the state, as a string. It will return a list of lists.
    
    big_long_list = data_in_list.copy()    #Making a deep copy, so I don't effect the underlying list. 
    output = []
    counter = len(big_long_list)

    while counter > 0:
        
        #This loop checks if there is newline in the name line
        
        if big_long_list[1] not in military:

            big_long_list[0] = big_long_list[0] + big_long_list[1]
            
            big_long_list.remove(big_long_list[1])
            
        #New code to account for the new lines in the home and county entries 
        #This checks the list to see if any new lines are present
        try:
            int(big_long_list[6])
            
        except ValueError:
            
            #If there are two newlines, one in home and one in county, this will be taken care of here
            try:
                int(big_long_list[7])
                
            except ValueError:
                big_long_list[5] = big_long_list[5] + big_long_list[6]
                del big_long_list[6]
                
            #If there is only one newline, this will put the middle entry into the home cell
            try:
                int(big_long_list[6])
                
            except ValueError:
                big_long_list[4] = big_long_list[4] + big_long_list[5]
                del big_long_list[5]
        
        place_holder = big_long_list[:8]
        
        
        place_holder.append(state)
        
        output.append(place_holder)
        
        del big_long_list[:8]
        counter = len(big_long_list)
    
    return(output)

Another trial of it all together.

In [33]:
df_list = []

for pdf in pdf_paths:
    
    state = str(pdf[11:13].upper())
    
    place_holder = scrape_pdf(pdf)
    
    data = prep_for_df(place_holder, state)
    
    df_list.append(pd.DataFrame(data, columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state']))

In [34]:
len(df_list)

51

Now combine them all

In [35]:
state_records = pd.concat(df_list)

In [36]:
state_records.shape

(57646, 9)

In [37]:
state_records.state.value_counts()

CA    5572
NY    4118
TX    3415
PA    3147
OH    3093
IL    2935
MI    2656
FL    1954
NC    1612
GA    1581
IN    1534
NJ    1487
MO    1417
MA    1331
VA    1304
TN    1295
AL    1208
WI    1160
MN    1077
KY    1055
WA    1047
MD    1013
OK     986
SC     895
LA     885
IA     851
WV     733
OR     710
MS     636
KS     627
CO     623
AZ     619
CT     612
AR     591
NE     396
NM     395
UT     361
ME     341
HI     276
MT     267
DC     242
NH     226
ID     217
RI     209
ND     199
SD     192
NV     149
DE     122
WY     118
VT     100
AK      57
Name: state, dtype: int64

In [19]:
#state_records.to_pickle('states_df')
state_records = pd.read_pickle('states_df')

In [20]:
state_records.head()

,name,service,rank_rate,birthdate,home_city,home_county,incident_death,body_rec,state
0,ABDELLAH BRUCE ALLYN,ARMY,PVT,19521215,EAST HOLDEN,PENOBSCOT,19711026,Y,ME
1,ALBERT LOUIS BASIL JR,MARINE CORPS,PFC,19480928,DANFORTH,WASHINGTON,19691008,Y,ME
2,ALBERT RICHARD PATRICK,ARMY,CPL,19480317,ST AGATHA,AROOSTOOK,19690820,Y,ME
3,ALEXANDER DAVID HAROLD,ARMY,SP4,19480118,SANFORD,YORK,19681216,Y,ME
4,ALLEN KEITH DOBSON JR,ARMY,CW2,19461209,WESTFIELD,AROOSTOOK,19690413,Y,ME

## Additional Database

Another document take from the National Archives.

In [74]:
pdfFileObj = open('DCAS.VN08.DOC.pdf', 'rb')

pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

pdf_data = ''

for pg in list(range(2)):
    pageObj = pdfReader.getPage(pg)
    chunk = pageObj.extractText()
    pdf_data += chunk

In [75]:
pdf_data

"Vietnam Conflict and Korean War File Layout (Pipe (|) Delimited Format)#Column NamesDataTypeDataSizeCoulmn DescriptionFurther Column Description1SERVICE NOText10Service Number\n2CText1Member Component Code\n\n3PTPText1Person Type Name Code\n\n4Person Type NameText55Person Type Name\n\n5Member NameText40Member Name\n6SText1Member Service Code\nA= Army, F = Air Force,M = Marines Corps, N = Navy7Service NameText50Member Service Name\n8Rank RateText6Member Rank or Rate\n\n9PGText3Member Paygrade\n10OccText6Member Occupation Code\n\n11Occupation NameText250Member Occupation Name\n\n12Birth DtText8Member BirthdateYYYYMMDD\n\n13GText1Member's GenderM = Male, F= Female\n\n14Hor CityText50Home of Record City\n\n15Hor CountyText50Home of Record County\n\n16Hor CtryText2Home of Record Country Code\n\n17Hor STText2Home of Record State Code\n\n18State Prv NmText50State or Province Name\n\n19Marital StatusText50Marital Name\n\n20Religion NameText60Religion Short Name\n\n21LText2Religion Code\n\n22Race NameText120Race Name\n\n23Ethnic NameText80Ethnic Short Name\n\n24Race OmbText50Race OMB Name\n\n25Ethnic Group NameText50Ethnic Group Name\n\n26Cas CircumstancesText210Casualty Circumstances\n\n27Cas CityText50Casualty City\n\n28Cas STText2Casualty State or Province Code\n\n29Cas CtryText2Casualty Country/Over Water Code\n\n30Cas Region NameText50Region Name\n\n31Country Or Water NameText50Country/Over Water Name\n\n32Unit NameText100Member Unit\n\n33DText1Duty Code\n\n34Process DtText8Process DateYYYYMMDD\n\n35Death DtText8Incident or Death DateYYYYMMDD\n1Vietnam Conflict and Korean War File Layout (Pipe (|) Delimited Format)#Column NamesDataTypeDataSizeCoulmn DescriptionFurther Column Description36YearText4Year of DeathYYYY\n37WCText1War or Conflict Code\nV = Vietnam Conflict, K = Korean War38OITPText1Operation Incident Type Code\n39OI NameText50Operation/Incident Name\n\n40OI LocationText50Location Name\n\n41Close DtText8Closure DateYYYYMMDD\n\n42AircraftText10Aircraft Type\n43HText2Hostile or Non-Hostile Death Indicator\nH = Hostile, NH = Non-Hostile Death44Casualty Type NameText50Casualty Type Name\n45Casualty CategoryText50Casualty Category Name\n\n46Casualty Reason NameText50Incident Casualty Reason Name\n\n47CSNText3Casualty  Cat. Short Name\n48BodyText1Remains Recovered\nY= Body Remains Recovered , N = Body Remains Not \nRecovered49Casualty Closure NameText50Casualty Closure Name\n50WallText7Vietnam Wall Row and Panel Indicator\n\n51Incident CategoryText50Casualty Category Name\n\n52I Status DtText8Incident Casualty Category DateYYYYMMDD\n\n53I CSNText3Incident Casualty  Cat. Short Name\n\n54I HText2Incident Hostile or Incident Non-Hostile Death\n\n55I AircraftText10Incident Aircraft Type\n2"

In [24]:
pdf_data.splitlines()

['Vietnam Conflict and Korean War File Layout (Pipe (|) Delimited Format)#Column NamesDataTypeDataSizeCoulmn DescriptionFurther Column Description1SERVICE NOText10Service Number',
 '2CText1Member Component Code',
 '',
 '3PTPText1Person Type Name Code',
 '',
 '4Person Type NameText55Person Type Name',
 '',
 '5Member NameText40Member Name',
 '6SText1Member Service Code',
 'A= Army, F = Air Force,M = Marines Corps, N = Navy7Service NameText50Member Service Name',
 '8Rank RateText6Member Rank or Rate',
 '',
 '9PGText3Member Paygrade',
 '10OccText6Member Occupation Code',
 '',
 '11Occupation NameText250Member Occupation Name',
 '',
 '12Birth DtText8Member BirthdateYYYYMMDD',
 '',
 "13GText1Member's GenderM = Male, F= Female",
 '',
 '14Hor CityText50Home of Record City',
 '',
 '15Hor CountyText50Home of Record County',
 '',
 '16Hor CtryText2Home of Record Country Code',
 '',
 '17Hor STText2Home of Record State Code',
 '',
 '18State Prv NmText50State or Province Name',
 '',
 '19Marital StatusText50Marital Name',
 '',
 '20Religion NameText60Religion Short Name',
 '',
 '21LText2Religion Code',
 '',
 '22Race NameText120Race Name',
 '',
 '23Ethnic NameText80Ethnic Short Name',
 '',
 '24Race OmbText50Race OMB Name',
 '',
 '25Ethnic Group NameText50Ethnic Group Name',
 '',
 '26Cas CircumstancesText210Casualty Circumstances',
 '',
 '27Cas CityText50Casualty City',
 '',
 '28Cas STText2Casualty State or Province Code',
 '',
 '29Cas CtryText2Casualty Country/Over Water Code',
 '',
 '30Cas Region NameText50Region Name',
 '',
 '31Country Or Water NameText50Country/Over Water Name',
 '',
 '32Unit NameText100Member Unit',
 '',
 '33DText1Duty Code',
 '',
 '34Process DtText8Process DateYYYYMMDD',
 '',
 '35Death DtText8Incident or Death DateYYYYMMDD',
 '1']

In [97]:
to_clean = pdf_data.splitlines()
col_desc = []
for line in to_clean:
    col = re.search(".*(?=Text)", line)
    description = re.search("(?<=Text).*", line)
    try:
        col_data = col.group(0)
        desc_data = description.group(0)
        
        place_holder = col_data, desc_data
        col_desc.append(place_holder)
    except AttributeError:
        pass

In [98]:
col_desc[0] = col_desc[0][0][145:], col_desc[0][1]
col_desc[6] = col_desc[6][0][51:], col_desc[6][1]
col_desc[35] = col_desc[35][0][145:], col_desc[35][1]
col_desc[37] = col_desc[37][0][36:], col_desc[37][1]
col_desc[43] = col_desc[43][0][36:], col_desc[43][1]

In [99]:
def remove_num(list):
    
    pattern = '[0-9]'
    list = [re.sub(pattern, '', i) for i in list] 
    return list

In [102]:
col_names = []
for line in col_desc:
    col_names.append(remove_num(line))

In [103]:
col_names

[['SERVICE NO', 'Service Number'],
 ['C', 'Member Component Code'],
 ['PTP', 'Person Type Name Code'],
 ['Person Type Name', 'Person Type Name'],
 ['Member Name', 'Member Name'],
 ['S', 'Member Service Code'],
 ['Service Name', 'Member Service Name'],
 ['Rank Rate', 'Member Rank or Rate'],
 ['PG', 'Member Paygrade'],
 ['Occ', 'Member Occupation Code'],
 ['Occupation Name', 'Member Occupation Name'],
 ['Birth Dt', 'Member BirthdateYYYYMMDD'],
 ['G', "Member's GenderM = Male, F= Female"],
 ['Hor City', 'Home of Record City'],
 ['Hor County', 'Home of Record County'],
 ['Hor Ctry', 'Home of Record Country Code'],
 ['Hor ST', 'Home of Record State Code'],
 ['State Prv Nm', 'State or Province Name'],
 ['Marital Status', 'Marital Name'],
 ['Religion Name', 'Religion Short Name'],
 ['L', 'Religion Code'],
 ['Race Name', 'Race Name'],
 ['Ethnic Name', 'Ethnic Short Name'],
 ['Race Omb', 'Race OMB Name'],
 ['Ethnic Group Name', 'Ethnic Group Name'],
 ['Cas Circumstances', 'Casualty Circumstances'],
 ['Cas City', 'Casualty City'],
 ['Cas ST', 'Casualty State or Province Code'],
 ['Cas Ctry', 'Casualty Country/Over Water Code'],
 ['Cas Region Name', 'Region Name'],
 ['Country Or Water Name', 'Country/Over Water Name'],
 ['Unit Name', 'Member Unit'],
 ['D', 'Duty Code'],
 ['Process Dt', 'Process DateYYYYMMDD'],
 ['Death Dt', 'Incident or Death DateYYYYMMDD'],
 ['Year', 'Year of DeathYYYY'],
 ['WC', 'War or Conflict Code'],
 ['OITP', 'Operation Incident Type Code'],
 ['OI Name', 'Operation/Incident Name'],
 ['OI Location', 'Location Name'],
 ['Close Dt', 'Closure DateYYYYMMDD'],
 ['Aircraft', 'Aircraft Type'],
 ['H', 'Hostile or Non-Hostile Death Indicator'],
 ['Casualty Type Name', 'Casualty Type Name'],
 ['Casualty Category', 'Casualty Category Name'],
 ['Casualty Reason Name', 'Incident Casualty Reason Name'],
 ['CSN', 'Casualty  Cat. Short Name'],
 ['Body', 'Remains Recovered'],
 ['RecoveredCasualty Closure Name', 'Casualty Closure Name'],
 ['Wall', 'Vietnam Wall Row and Panel Indicator'],
 ['Incident Category', 'Casualty Category Name'],
 ['I Status Dt', 'Incident Casualty Category DateYYYYMMDD'],
 ['I CSN', 'Incident Casualty  Cat. Short Name'],
 ['I H', 'Incident Hostile or Incident Non-Hostile Death'],
 ['I Aircraft', 'Incident Aircraft Type']]

In [104]:
columns = []
for description in col_names:
    columns.append(description[0])

In [127]:
#columns = 
df_2 = pd.read_csv('DCAS.VN.EXT08.DAT', delimiter = '|', engine='python', header=None, names=columns)
df_2.head()

,SERVICE NO,C,PTP,Person Type Name,Member Name,S,Service Name,Rank Rate,PG,Occ,Occupation Name,Birth Dt,G,Hor City,Hor County,Hor Ctry,Hor ST,State Prv Nm,Marital Status,Religion Name,L,Race Name,Ethnic Name,Race Omb,Ethnic Group Name,Cas Circumstances,Cas City,Cas ST,Cas Ctry,Cas Region Name,Country Or Water Name,Unit Name,D,Process Dt,Death Dt,Year,WC,OITP,OI Name,OI Location,Close Dt,Aircraft,H,Casualty Type Name,Casualty Category,Casualty Reason Name,CSN,Body,RecoveredCasualty Closure Name,Wall,Incident Category,I Status Dt,I CSN,I H,I Aircraft
0,503503584,Y,S,SELECTED SERVICE,AADLAND GERALD L,A,ARMY,SP4,E04,11B,INFANTRYMAN,19450329,M,SISSETON,ROBERTS,US,SD,SOUTH DAKOTA,NEVER MARRIED,LUTHERAN CHURCHES,LL,WHITE,NOT SPECIFIED,WHITE,UNKNOWN,NaN,KONTUM,M2,VS,ASIA,SOUTH VIETNAM,D CO 3 BN 12 INF 4 INF DIV,Z,19680501,19680530,1968,V,C,VIETNAM CONFLICT,SOUTHEAST ASIA,19680530.0,NaN,H,DECEASED,KILLED IN ACTION,SMALL ARMS FIRE,NaN,Y,BURIED - UNKNOWN DISP,63W 014,NaN,NaN,NaN,NaN,NaN
1,465720672,Y,S,SELECTED SERVICE,AALUND JAMES DOWNING,A,ARMY,SGT,E05,11B,INFANTRYMAN,19450511,M,HOUSTON,HARRIS,US,TX,TEXAS,NEVER MARRIED,METHODIST CHURCHES,MM,WHITE,NOT SPECIFIED,WHITE,UNKNOWN,NaN,PHUOC LONG,M3,VS,ASIA,SOUTH VIETNAM,1 CAV DIV AIRMOBILE,Z,19700301,19700228,1970,V,C,VIETNAM CONFLICT,SOUTHEAST ASIA,19700228.0,NaN,H,DECEASED,KILLED IN ACTION,ARTILLERY/MORTAR/ROCKET,NaN,Y,BURIED - UNKNOWN DISP,13W 066,NaN,NaN,NaN,NaN,NaN
2,473635900,R,K,ACTIVE - REGULAR,AAMOLD DANIEL LAWRENCE,F,AIR FORCE,A1C,E03,,NaN,19510823,M,MOORHEAD,CLAY,US,MN,MINNESOTA,NEVER MARRIED,BAPTIST CHURCHES,BB,WHITE,NOT SPECIFIED,WHITE,UNKNOWN,NaN,NINH THUAN,M2,VS,ASIA,SOUTH VIETNAM,NaN,Z,19700801,19700820,1970,V,C,VIETNAM CONFLICT,SOUTHEAST ASIA,19700820.0,NaN,NH,DECEASED,ACCIDENT,OTHER ACCIDENT,NaN,Y,BURIED - UNKNOWN DISP,08W 124,NaN,NaN,NaN,NaN,NaN
3,2221574,Y,S,SELECTED SERVICE,AARDE JAMES RAYMOND,M,MARINE CORPS,LCPL,E03,0311,RIFLEMAN,19440608,M,KENT,KING,US,WA,WASHINGTON,MARRIED,"PROTESTANT, NO DENOMINATIONAL PREFERENCE",TN,WHITE,NOT SPECIFIED,WHITE,UNKNOWN,NaN,QUANG TRI,M1,VS,ASIA,SOUTH VIETNAM,NaN,Z,19661201,19661229,1966,V,C,VIETNAM CONFLICT,SOUTHEAST ASIA,19661229.0,NaN,H,DECEASED,DIED OF WOUNDS,EXPLOSIVE DEVICE,NaN,Y,BURIED - UNKNOWN DISP,13E 095,WOUNDED IN ACTION (VERY SERIOUS),0.0,WIA,H,NaN
4,025368444,Y,S,SELECTED SERVICE,AARON CHARLES EDWARD,A,ARMY,SP4,E04,11B,INFANTRYMAN,19481212,M,FORGE VILLAGE,MIDDLESEX,US,MA,MASSACHUSETTS,NEVER MARRIED,METHODIST CHURCHES,MM,WHITE,NOT SPECIFIED,WHITE,UNKNOWN,NaN,BINH THUAN,M2,VS,ASIA,SOUTH VIETNAM,1 FIELD FORCE,Z,19700501,19700505,1970,V,C,VIETNAM CONFLICT,SOUTHEAST ASIA,19700505.0,NaN,H,DECEASED,KILLED IN ACTION,GRENADE,NaN,Y,BURIED - UNKNOWN DISP,11W 098,NaN,NaN,NaN,NaN,NaN

In [125]:
df_2.isna().sum()

SERVICE NO                            0
C                                   182
PTP                                   0
Person Type Name                      3
Member Name                           0
S                                     0
Service Name                          0
Rank Rate                             0
PG                                    0
Occ                                  28
Occupation Name                    4207
Birth Dt                              0
G                                     0
Hor City                            122
Hor County                           29
Hor Ctry                              0
Hor ST                              117
State Prv Nm                        117
Marital Status                        0
Religion Name                         3
L                                     3
Race Name                             0
Ethnic Name                           0
Race Omb                              0
Ethnic Group Name                     0
Cas Circumstances                 58180
Cas City                           9009
Cas ST                             9161
Cas Ctry                              0
Cas Region Name                       0
Country Or Water Name                 0
Unit Name                         17090
D                                     0
Process Dt                            0
Death Dt                              0
Year                                  0
WC                                    0
OITP                                  2
OI Name                               2
OI Location                           2
Close Dt                           1771
Aircraft                          58135
H                                     0
Casualty Type Name                    0
Casualty Category                     0
Casualty Reason Name                  8
CSN                               58220
Body                                  0
RecoveredCasualty Closure Name        0
Wall                                 23
Incident Category                 51597
I Status Dt                       51599
I CSN                             51600
I H                               51597
I Aircraft                        58207
dtype: int64

In [130]:
df_2['Cas City'].value_counts()

QUANG NAM          8090
QUANG TRI          7540
THUA THIEN         4289
QUANG TIN          2987
QUANG NGAI         2981
BINH DUONG         2766
TAY NINH           2683
BINH DINH          2418
KONTUM             1691
HUA NGHIA          1442
BIEN HOA           1334
GIA DINH           1318
PLEIKU             1092
LONG AN            1020
BINH LONG           947
DINH TUONG          835
PHUOC LONG          695
LONG KHANH          577
KIEN HOA            462
KHANH HOA           449
OFFSHORE            329
PHU YEN             326
BINH THUAN          302
PHUOC TUY           238
PHONG DINH          198
BINH THUY           195
DARLAC              192
NINH THUAN          189
QUANG DUC           180
VINH LONG           169
LAM DONG            167
KIEN TUONG          158
UNKNOWN             136
KIEN GIANG          124
CHAU DOC             84
BA XUGEN             82
TUYEN DUC            80
KIEN PHONG           79
VINH BINH            71
GO CONG              71
AN XUGEN             70
CHUONG THIEN         39
PHU BON              32
SA DEC               32
AN GIANG             29
BAC LIEU             18
BONG SON              1
PHU QUOC ISLAND       1
ANXUYEN               1
CON SON ISLAND        1
HAU NGHIA             1
Name: Cas City, dtype: int64

In [109]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58220 entries, 0 to 58219
Data columns (total 55 columns):
SERVICE NO                        58220 non-null object
C                                 58038 non-null object
PTP                               58220 non-null object
Person Type Name                  58217 non-null object
Member Name                       58220 non-null object
S                                 58220 non-null object
Service Name                      58220 non-null object
Rank Rate                         58220 non-null object
PG                                58220 non-null object
Occ                               58192 non-null object
Occupation Name                   54013 non-null object
Birth Dt                          58220 non-null int64
G                                 58220 non-null object
Hor City                          58098 non-null object
Hor County                        58191 non-null object
Hor Ctry                          58220 non-null object
Hor ST                            58103 non-null object
State Prv Nm                      58103 non-null object
Marital Status                    58220 non-null object
Religion Name                     58217 non-null object
L                                 58217 non-null object
Race Name                         58220 non-null object
Ethnic Name                       58220 non-null object
Race Omb                          58220 non-null object
Ethnic Group Name                 58220 non-null object
Cas Circumstances                 40 non-null object
Cas City                          49211 non-null object
Cas ST                            49059 non-null object
Cas Ctry                          58220 non-null object
Cas Region Name                   58220 non-null object
Country Or Water Name             58220 non-null object
Unit Name                         41130 non-null object
D                                 58220 non-null object
Process Dt                        58220 non-null int64
Death Dt                          58220 non-null int64
Year                              58220 non-null int64
WC                                58220 non-null object
OITP                              58218 non-null object
OI Name                           58218 non-null object
OI Location                       58218 non-null object
Close Dt                          56449 non-null float64
Aircraft                          85 non-null object
H                                 58220 non-null object
Casualty Type Name                58220 non-null object
Casualty Category                 58220 non-null object
Casualty Reason Name              58212 non-null object
CSN                               0 non-null float64
Body                              58220 non-null object
RecoveredCasualty Closure Name    58220 non-null object
Wall                              58197 non-null object
Incident Category                 6623 non-null object
I Status Dt                       6621 non-null float64
I CSN                             6620 non-null object
I H                               6623 non-null object
I Aircraft                        13 non-null object
dtypes: float64(3), int64(4), object(48)
memory usage: 24.4+ MB

In [124]:
for col in df_2.columns:
    print(f"These are the all the values in {col}")
    print(df_2[col].unique())
    print(f"TOTAL {len(df_2[col].unique())}")
    print('------------------------------------------')

These are the all the values in SERVICE NO
['503503584' '465720672' '473635900' ... '56957866' '16829253' '2351252']
TOTAL 58220
------------------------------------------
These are the all the values in C
['Y' 'R' 'V' nan 'G']
TOTAL 5
------------------------------------------
These are the all the values in PTP
['S' 'K' 'L' 'T' 'Q' 'R' 'F']
TOTAL 7
------------------------------------------
These are the all the values in Person Type Name
['SELECTED SERVICE' 'ACTIVE - REGULAR' 'ACTIVE - GUARD/RESERVE'
 'TEMP/PERM DISABILITY RETIRED LIST (OVER 120 DAYS)'
 'TEMP/PERM DISABILITY RETIRED LIST (120 DAYS OR LESS)' nan
 'RETIRED/SEPARATED 120 DAYS OR LESS (NOT T/PDRL)']
TOTAL 7
------------------------------------------
These are the all the values in Member Name
['AADLAND GERALD L' 'AALUND JAMES DOWNING' 'AAMOLD DANIEL LAWRENCE' ...
 'ZYPH JAMES LOUIS' 'ZYWICA GARY ROMAN' 'ZYWICKE DAVID LEE']
TOTAL 57933
------------------------------------------
These are the all the values in S
['A' 'F' 'M' 'N' 'C']
TOTAL 5
------------------------------------------
These are the all the values in Service Name
['ARMY' 'AIR FORCE' 'MARINE CORPS' 'NAVY' 'COAST GUARD']
TOTAL 5
------------------------------------------
These are the all the values in Rank Rate
['SP4' 'SGT' 'A1C' 'LCPL' 'PFC' 'PVT' 'CPT' 'CPL' 'SP5' 'SFC' 'SP6' 'CAPT'
 '1STLT' 'MAJ' '1LT' 'SSG' 'LT' 'COL' 'WO1' 'SN' 'MSGT' 'CW2' 'SA' 'PO1'
 'SSGT' 'HN' 'GYSGT' 'SMSGT' 'PO3' 'BG' 'FN' 'PO2' 'CW3' '2LT' 'TSGT'
 'CMSGT' 'MSG' 'LTC' 'PSG' '2NDLT' 'LCDR' 'LTJG' 'LTCOL' 'SR' 'CPO' 'CDR'
 'SGM' 'CW4' '1STSGT' 'AN' 'A2C' 'SCPO' 'CN' 'WO' 'SGTMAJ' 'ENS' '1SG'
 'MGYSGT' 'AMN' 'CWO2' 'MCPO' 'HA' 'AA' 'BGEN' 'MG' 'FA' 'MAJGEN' 'CWO4'
 'CWO3' 'CWO-4' 'WO-1' 'SPC' 'A3C' 'PV1' 'CR' 'RADM' 'CADET']
TOTAL 77
------------------------------------------
These are the all the values in PG
['E04' 'E05' 'E03' 'E01' 'O03' 'E02' 'E06' 'O06' 'O02' 'O04' 'E07' 'W01'
 'W02' 'E08' 'W03' 'O01' 'E09' 'O05' 'W04' 'O07' 'O08']
TOTAL 21
------------------------------------------
These are the all the values in Occ
['11B' '      ' '0311' ... '1545' '5541' '1051B']
TOTAL 1393
------------------------------------------
These are the all the values in Occupation Name
['INFANTRYMAN' nan 'RIFLEMAN' 'ARMOR RECONNAISSANCE SPECIALIST'
 'INTERNIST' 'CONSTRUCTION AND UTILITIES WORKER' 'AMMUNITION TECHNICIAN'
 'CONSTRUCTION EQUIPMENT REPAIRER' 'MEDICAL SPECIALIST'
 'UTILITY HELICOPTER REPAIRER' 'FIELD ARTILLERY BASIC' 'MACHINEGUNNER'
 'CID SPECIAL AGENT' 'URL PILOT' 'INFANTRY OFFICER (I)'
 'MEDICAL EQUIPMENT REPAIRER' 'AIR OBSERVATION PILOT' 'ASSAULTMAN'
 'FIXED STATION ATTENDANT' 'FIRE SUPPORT SPECIALIST'
 'HELICOPTER PILOT, UTILITY AND LIGHT CARGO SINGLE ROTOR'
 'ORDNANCE OFFICER' 'TANK UNIT COMMANDER' 'CHAPLAIN ASSISTANT'
 'ARMOR CREWMAN' 'ARMORED RECONNAISSANCE UNIT COMMANDER'
 'PERSONNEL SPECIALIST' 'HEAVY ANTI-ARMOR WEAPONS INFANTRYMAN' 'MORTARMAN'
 'RANGER, COMBAT ENGINEER UNIT COMMANDER'
 'COLONEL, NAVAL AVIATOR/NAVAL FLIGHT OFFICER' 'CANNON CREWMEMBER'
 'RADIO TELETYPE OPERATOR' 'ATTACK HELICOPTER PILOT'
 'EXECUTIVE ADMINISTRATIVE ASSISTANT' 'INFANTRY UNIT COMMANDER' 'SEAMAN'
 'LIGHT WHEEL VEHICLE MECHANIC' 'HEAVY VEHICLE DRIVER'
 'GENERAL VEHICLE REPAIRMAN' 'CENTRAL OFFICE SWITCHBOARD OPERATOR'
 'MILITARY POLICE' 'INFANTRY OPERATIONS AND INTELLIGENCE SPECIALIST'
 'CANNON FIRE DIRECTION SPECIALIST' 'TRACK VEHICLE REPAIRER'
 'COMBAT ENGINEER' 'FIELD COMMUNICATIONS ELECTRONICS EQUIPMENT MECHANIC'
 'AIRCRAFT POWERTRAIN REPAIRER' "STEWARD'S MATE"
 'AIRCRAFT MAINTENANCE APPRENTICE' 'HOSPITAL CORPSMAN'
 'INDIRECT FIRE INFANTRYMAN' 'INFANTRY UNIT LEADER'
 'FIELD ARTILLERY SURVEYOR' 'WEAPONS MAINTENANCE TECHNICIAN'
 'LIGHT VEHICLE DRIVER' 'PILOT' 'ADMINISTRATIVE MAN'
 'ASSAULT AMPHIBIOUS VEHICLE CREWMAN' 'BUILDER' 'UNIT SUPPLY SPECIALIST'
 'ENGINEER EQUIPMENT MECHANIC' 'COMBAT ENGINEER UNIT COMMANDER'
 'LIGHT AIR DEFENSE ARTILLERY CREWMEMBER' 'FIREMAN' 'STEELWORKER'
 'MULTICHANNEL TRANSMISSION SYSTEMS'
 'UTILITY/OBSERVATION HELICOPTER PILOT' 'ADMINISTRATIVE SPECIALIST'
 'MULTI-ENGINE AIRPLANE REPAIRMAN' 'PARACHUTIST, INFANTRY UNIT COMMANDER'
 'RANGER, ARMORED RECONNAISSANCE UNIT COMMANDER'
 'AVIATION ORDNANCE TRAINEE' 'TACTICAL COMMUNITIONS CHIEF'
 'PETROLEUM SUPPLY SPECIALIST' 'BRIDGE CREWMEMBER' 'FIELD RADIO OPERATOR'
 'MECHANICAL SUPERINTENDENT' 'TEXTILE REPAIRMAN' 'INTELLIGENCE ANALYST'
 'FIELD ARTILLERY CANNONEER' 'MEDIUM HELICOPTER REPAIRER' 'CLERK-TYPIST'
 'TACTICAL WIRE OPERATIONS SPECIALIST' 'FOOD SERVICE HELPER'
 'AIRCREW SURVIVAL EQUIPMENTMAN' "BOATSWAIN'S MATE"
 'COMMUNICATIONS CENTER SPECIALIST' 'AIRCRAFT ARMAMENT REPAIRMAN'
 'CORRECTIONS SPECIALIST' 'FIRE CONTROL TECHNICIAN (GUN FIRE CONTROL)'
 "ELECTRICIAN'S MATE" 'MOTOR VEHICLE OPERATOR'
 'AIRCRAFT LOADMASTER TECHNICIAN' 'BASIC INFANTRY OFFICER'
 'AMMUNITION SUPPLY OFFICER' 'FOOD SERVICE SPECIALIST'
 'FIXED WING AVIATION UNIT COMMANDER' 'FLIGHT OPERATIONS COORDINATOR'
 'POWER GENERATION EQUIPMENT OPERATOR/MECHANIC' '0V-1 AIRPLANE REPAIRMAN'
 'NUCLEAR WEAPONS EMPLOYMENT SPECIALIST, TANK UNIT COMMANDER'
 'A/C COMMUNICATIONS/NAVIGATION SYSTEMS TECHNICIAN'
 'AIRCRAFT MAINTENANCE SUPERINTENDENT' 'GENERAL SUPPLY SPECIALIST'
 'OPERATIONS AND TRAINING STAFF OFFICER (G3,A3,S3)' "MACHINIST'S MATE"
 'SUPPLY CORPS' 'NAVIGATOR'
 'AIRBORNE ELECTRONIC COUNTERMEASURES/RECONNAISSANCE OFFICER' 'WIREMAN'
 'ENGINEMAN' 'BULK FUEL SPECIALIST' 'DENTAL OFFICER'
 'PILOT CH-46 QUALIFIED' 'PIONEER' 'LDO' 'OPERATING ROOM NURSE' 'WELDER'
 'REFRIGERATION SPECIALIST' 'GRADER OPERATOR'
 'AIRCRAFT QUALITY CONTROL SUPERVISOR'
 'TUBINE ENGINE DRIVE/GENERATOR REPAIRER' 'FIXED WING PILOT, MULTI-ENGINE'
 'TECHNICAL DRAFTING SPECIALIST' 'FORWARD AIR CONTROLLER'
 'FIELD ARTILLERY FIRE CONTROL MAN'
 'OBSERVATION/SCOUT HELICOPTER REPAIRER'
 'MECHANICAL MAINTENANCE SUPERVISOR' 'FIELD ARTILLERY UNIT COMMANDER'
 'WIRE SYSTEMS INSTALLER' 'PILOT HMH/M/L/A UH-1N QUALIFIED (I)'
 'RADIO OPERATOR' 'TELECOMMUNICATIONS OPERATOR-MAINTAINER' 'PILOT VMGR'
 'LOGISTICS/EMBARKATION SPECIALIST' 'AMMUNITION RECORDS CLERK'
 'TANK/ASSAULT GUIDED MISSILE MAN' 'PILOT VMA A-4 QUALIFIED (I)'
 'STEVEDORE' 'AVIONICS MECHANIC' 'AVIATION ELECTRONICS TECHNICIAN'
 'WATER TREATMENT SPECIALIST' 'URL NO WARFARE SPECIALTY'
 'COMMUNICATIONS ELECTRONICS MATERIEL SUPPLY SPECIALIST'
 'BASIC ENGINEER, CONSTRUCTION, AND EQUIPMENT OFF (I)' 'PARACHUTIST'
 'OH-13/OH-23 HELICOPTER REPAIRMAN' "AVIATION MACHINIST'S MATE"
 'SMALL ARMS/ARTILLERY REPAIRER' 'QUARTERMASTER' 'TANK OFFICER (I)'
 'AEROSCOUT OBSERVER'
 'ELECTRONIC WARFARE/SIGNAL INTELLIGENCE VOICE INTERCEPTOR'
 'SPECIAL PURPOSE MATERIEL SUPPLY SPECIALIST'
 'PILOT CH-53 A/D QUALIFIED (I)' 'CRANE OPERATOR' 'AUTOMOTIVE MECHANIC'
 'AIRCRAFT ELECTRONIC SYSTEMS TECHNICIAN A-4/TA-4/OA-4'
 'CARGO HELICOPTER PILOT' 'ENGINEER EQUIPMENT ASSISTANT' 'WAREHOUSE CLERK'
 'SIGNAL SUPPLY AND PARTS SPECIALIST' 'PILOT VMF'
 'CH-34 HELICOPTER REPAIRMAN' 'WATERCRAFT ENGINEER'
 'JUDGE ADVOCATE OR JUDGE ADVOCATE GENERAL'
 'TRACKED VEHICLE REPAIRER, SELF-PROPELLED' 'INTELLIGENCE SPECIALIST'
 "GUNNER'S MATE (GUNS)" 'SHORE PARTY SPECIALIST'
 "AVIATION ELECTRICIAN'S MATE" 'UH-60 HELICOPTER REPAIRER'
 'FLEET SATCOM TERMINAL OPERATOR' 'FIELD ILLUMINATION CREWMAN'
 'AIR OPERATIONS OFFICER' 'COMMAND SERGEANT MAJOR'
 'HEAVY CONSTRUCTION EQUIPMENT OPERATOR'
 'PILOT VMA (AW) (I), FRS BASIC A-6' 'AIRCRAFT STRUCTURAL REPAIRER'
 'REPAIR SHOP TECHNICIAN'
 'RANGER, OPERATIONS AND TRAINING STAFF OFFICER (G3,A3,S3)'
 'FREIGHT OPERATIONS CLERK' 'RADIO OPERATOR-MAINTAINER' 'PRINT JOURNALIST'
 'O-1/U-6 AIRPLANE REPAIRMAN' 'AVIATION ORDNANCEMAN'
 'CONSTRUCTION ELECTRICIAN' 'M60A1 TANK CREWMAN'
 'COMBAT ENGINEER OPERATION AND INTELLIGENCE NCO'
 'GROUND MOBILE FORCES SATCOM RADIO CHIEF'
 'EXPLOSIVE ORDNANCE DISPOSAL SPECIALIST' 'COMMISSARYMAN'
 'QUALIFIED A-6E BOMBARDIER/NAVIGATOR (I)' 'EQUIPMENT OPERATOR'
 'RADIO TELEGRAPH OPERATOR' 'COMMUNICATIONS OFFICER (I)' 'PILOT HMH'
 'FIRE CONTROL INSTRUMENT REPAIRER' 'CHEMICAL EQUIPMENT REPAIRER'
 'SMALL ARMS REPAIRER/TECHNICIAN' 'WATERCRAFT OPERATOR'
 'PETROLEUM STORAGE SPECIALIST' 'NUCLEAR WEAPONS SPECIALIST'
 'AIRCRAFT PNEUDRAULICS REPAIRER'
 'SINGLE-ENGINE AIRPLANE MAINTENANCE CHIEF'
 'MATERIEL CONTROL AND ACCOUNTING SPECIALIST'
 'INTELLIGENCE STAFF OFFICER (G2,A2,S2)' 'AIRPLANE TECHNICAL INSPECTOR'
 'PARACHUTE RIGGER' 'AIRCRAFT AIRFRAME MECHANIC AV-8/TAV-8'
 'NAVIGATOR, TANKER' 'MEDICAL CORPS' 'ENGINEER EQUIPMENT OPERATOR'
 'AIRCRAFT MAINTENANCE SENIOR SERGEANT'
 'AIRCRAFT COMM/NAV/RADAR SYSTEMS TECH, EA-6' 'RAILWAY SECTION FOREMAN'
 'ENGINEER MISSILE EQUIPMENT SPECIALIST' 'INTELLIGENCE ASSISTANT'
 'FIREFIGHTER' 'AIRCRAFT MAINTENANCE OFFICER' 'DUTY SOLDIER'
 'MACHINERY REPAIRMAN' 'CONSTRUCTION ENGINEER'
 'NUCLEAR WEAPONS EMPLOYMENT SPECIALIST, FA UNIT COMMANDER'
 'AIR OPERATIONS OFFICER (G3, S3)' 'RADIOMAN'
 'WIRE SYSTEMS EQUIPMENT REPAIRER' 'CONSTRUCTION EQUIPMENT SUPERVISOR'
 'MILITARY POLICE OFFICER' 'QUARRYING SPECIALIST'
 'ROUGH TERRAIN FORKLIFT AND LOADER OPERATOR' 'FIELD RADIO REPAIRER'
 'NAVIGATOR, ELECTRONIC WARFARE OFFICER'
 'PSYCHOLOGICAL OPERATIONS OFFICER'
 'NUCLEAR WEAPONS EMPLOYMENT SPECIALIST, INFANTRY UNIT COMMANDER'
 'AIR TRAFFIC CONTROL TOWER OPERATOR' 'INFANTRY SENIOR SERGEANT'
 'AMMUNITION SPECIALIST' 'LOGISTICS OPERATIONS CLERK' 'PLUMBER'
 'SUPPORT EQUIPMENT ASSET MANAGER' 'TELETYPWRITER REPAIRER'
 'ADVANCED AVIONICS TECHNICIAN-TRAINEE'
 'AIRCRAFT COMMUNICATIONS/NAVIGATION/ELECTRICAL/WEAPON SYSTEMS  TECHNICIAN - TRAIN'
 'REDSTONE ELECTRONIC MECHANIC' 'TOWED ARTILLERY SYSTEMS TECHNICIAN'
 'ATOMIC DEMOLITION EMPLOYMENT TECHNICIAN' 'DENTAL TECHNICIAN' 'CHAPLAIN'
 'VEHICLE MATERIEL SUPPLY SPECIALIST'
 'TACTICAL ELECTRONICS MAINTENANCE CHIEF' 'STILL PHOTOGRAPHIC SPECIALIST'
 'BASIC INFANTRYMAN' 'COOK' "PHOTOGRAPHER'S MATE"
 'MECHANICAL MAINTENANCE HELPER' 'GROUND RADAR REPAIRMAN'
 'PARACHUTIST, FA UNIT COMMANDER' 'CLERK'
 'CARPENTRY AND MASONRY SPECIALIST' 'HELICOPTER MECHANIC, CH-46'
 'WHEELED TRACTOR OPERATOR' 'PILOT VME (JET)'
 'DATA/COMMUNICATIONS MAINTENANCE OFFICER (III)'
 'MOTOR TRANSPORT OPERATOR' 'SUPPLYMAN' 'AH-1 ATTACK HELICOPTER REPAIRER'
 'SUPPLY ADMINISTRATIVE MAN - MANUAL ACCOUNTING'
 'EXPLOSIVE ORDNANCE DISPOSAL TECHNICIAN'
 'PLUMBING AND WATER SUPPLY SPECIALIST' 'AIDE-DE-CAMP'
 'AVIATION STRUCTURAL MECH (SAFETY EQUIP)' 'POSTAL CLERK'
 'WEAPON SYSTEMS OFFICER' 'CHEMICAL COMBAT SERVICE SUPPORT OFFICER'
 'TACTICAL MICROWAVE SYSTEMS REPAIRER'
 'TRANSPORTATION SUPPLY AND PARTS SPECIALIST'
 'AVIATION PRECISION MEASUREMENT EQUIPMENT (PME) CHIEF'
 'LANCE CREWMEMBER/MLRS SERGEANT' 'GROUND RADIO REPAIRER'
 'COMBAT ENGINEER SENIOR SERGEANT' 'FIELD ARTILLERY RADAR CREWMEMBER'
 'SINGLE-ENGINE SINGLE-ROTOR HELICOPTER REPAIRMAN'
 'SUPPLY MAN, MANUAL ACCOUNT' 'BASIC FIELD ARTILLERY OFFICER (I)'
 'AVIATION STRUCTURAL MECHANIC (HYDRAULICS)' 'FRS BASIC CH-46 PILOT (I)'
 'IMAGERY ANALYST' 'FIRE CONTROL REPAIRER' 'SIGNALMAN'
 'HEAVY LIFT HELICOPTER PILOT' 'CANVAS AND LEATHER REPAIRMAN'
 'PILOT VMFA F-4S (I)' 'FIELD ARTILLERY OFFICER (I)'
 'PERSONAL FINANCIAL RECORDS CLERK'
 'RANGER, INTELLIGENCE STAFF OFFICER (G2,A2,S2)'
 'ARTILLERY SCOUT OBSERVER'
 'AIRCRAFT ELECTRICAL SYSTEMS TECHNICIAN, TRANSPORT AND HELICOPTER'
 'COMMUNICATION CENTER OPERATOR' 'AIRCRAFT MATERIEL SUPPLY SPECIALIST'
 'CONSTRUCTION ENGINEERING SUPERVISOR' 'HURCULES FIRE CONTROL CREWMEMBER'
 'AIRCRAFT CRYPTOGRAPHIC SYSTEMS TECHNICIAN, IMA'
 'ORDNANCE SUPPLY AND PART SPECIALIST' 'ARTILLERY COMMUNICATIONS CHIEF'
 'TRACKED VEHICLE REPAIRER, ASSAULT AMPHIBIOUS VEHICLE' 'CONSTRUCTIONMAN'
 'ARMORED AMPHIBIAN CREWMAN' 'EW/SIGINT IDENTIFIER' 'AIRMAN'
 'TRANSLATOR-INTERPRETER' 'CONCRETE AND ASPHALT EQUIPMENT OPERATOR'
 'MEDICAL LABORATORY SPECIALIST'
 'FRS BASIC EA-6A/B ELECTRONIC WARFARE OFFICER (I)'
 'AVIATION FIRE CONTROL TECHNICIAN' 'URL NAVAL FLIGHT OFFICER'
 'VULCAN CREWMEMBER' 'NUCLEAR, BIOLOGICAL, AND CHEMICAL (NBC) SPECIALIST'
 'INTERROGATOR' 'FLIGHT TRAINING INSTRUCTOR'
 'RANGER, UNIT OFFICER, TRAINING CENTER' 'CONSTRUCTION MECHANIC'
 'QUARTERMASTER HEAVY EQUIPMENT REPAIRMAN'
 'ELECTRONICS TECHNICIAN (SUBMARINE)' 'NAVIGATOR-BOMBARDIER'
 'FINANCE SPECIALIST' 'MATERIEL STORAGE AND HANDLING SPECIALIST'
 'AVIATION STRUCTURAL MECH (STRUCTURES)' 'METAL WORKER' 'ELECTRICIAN'
 'AIRCRAFT COMMUNICATION./NAVIGATION SYSTEMS TECHNICIAN'
 'WEAPONS SUPPORT RADAR REPAIRER' 'FRS BASIC F/A-18 PILOT (I)'
 'COMPTROLLER' 'QUARTERMASTER SUPPLY SPECIALIST'
 'INTERROGATION/TRANSLATION SPECIALIST' 'INTELLIGENCE OFFICER'
 'GENERAL OFFICER' 'STOREKEEPER' 'AVIATION STAFF OFFICER'
 'COMPOSITE AVIATION UNIT COMMANDER' 'TRAFFIC MANAGEMENT COORDINATOR'
 'U/A AIRPLANE REPAIRMAN' 'FIXED WING PILOT, SURVEILLANCE AIRCRAFT'
 'RANGER, INFANTRY UNIT COMMANDER'
 'AIR TRAFFIC CONTROLLER RADAR CONTROLLER' 'ELECTRONIC WARFARE OFFICER'
 'INTERIOR COMM ELECTRICIAN' 'REFRIGERATION MECHANIC'
 'AIRCRAFT RECOVERY SPECIALIST' 'SENIOR SUPPLY/SERVICE SERGEANT'
 'AIRCRAFT ROTOR AND PROPELLER REPAIRMAN'
 'AIRCRAFT RECIPROCATING ENGINE REPAIRMAN' 'AVIATION SUPPORT EQPT TECH'
 'PROCUREMENT SERGEANT' 'HULL MAINTENANCE TECHNICIAN' 'AIR DELIVERY MAN'
 'MEDICAL SENIOR SERGEANT' 'AUTOMOTIVE MAINTENANCE TECHNICIAN'
 'MULTICHANNEL EQUIPMENT OPERATOR'
 'NUCLEAR WEAPONS EMPLOYMENT SPECIALIST, INTELLIGENCE STAFF OFFICER (G2,A2,S2)'
 'TRAINING OFFICER' 'CHAPLAIN CORPS' 'F-4S RADAR INTERCEPT OFFICER (I)'
 'AERIAL SURVEILLANCE OFFICER' 'AIRCRAFT ELECTRICIAN'
 'MEDICAL SUPPLY SPECIALIST' 'LAUNDRY AND BATH SPECIALIST'
 'DISBURSING CLERK' 'RADARMAN'
 'NUCLEAR WEAPONS EMPLOYMENT SPECIALIST, AIR OPERATIONS OFFICER (G3, S3)'
 'SUPPLY & EVAC STAFF OFFICER (G4,A4,S4)'
 'GENERAL CONSTRUCTION EQUIPMENT OPERATOR' 'BASIC SUPPLY SERVICES MAN'
 'BOILERMAN' 'PHOTOGRAPHER' 'MARINE HULL REPAIRMAN'
 'HAWK FIRE CONTROL CREWMEMBER' 'FIXED STATION TRANSMITTER REPAIRMAN'
 'CARGO SPECIALIST' 'GENERAL WAREHOUSEMAN'
 'PERSONNEL MANAGEMENT SPECIALIST' "SHIP'S SERVICEMAN"
 'AIR TRAFFIC CONTROL CHIEF' 'AIRCRAFT POWER PLANTS MECHANIC, J-79'
 'FIXED WING PILOT, SINGLE ENGINE' 'AIR COMMANDER'
 'SPECIAL FORCES, OPERATIONS AND TRAINING STAFF OFFICER (G3,A3,S3)'
 'RECOVERY SPECIALIST' 'RANGER' 'AVIATION ASW TECHNICIAN' 'UTILITIESMAN'
 'TRANSPORTATION OFFICER' 'ATOMIC DEMOLITION MUNITIONS SPECIALIST'
 'RANGER, TANK UNIT COMMANDER' 'SUPPLY HANDLER'
 'PERSONNEL STAFF OFFICER (G1,A1,S1)' 'PERSONNELMAN'
 'AIRCRAFT MAINTENANCE GSE REFRIGERATION MECHANIC' 'ADPS REPAIRMAN'
 'DAIL/MANUAL CENTRAL OFFICE REPAIRER'
 'AIRCRAFT COMMUNICATIONS/NAVIGATION SYSTEM'
 'AVIONIC COMMUNICATIONS EQUIPMENT REPAIRER'
 'GROUND SUPPLY OPERATIONS OFFICER (III)'
 'AIRCRAFT COMM/NAV/ELEC SYST TECH, CH-46'
 'DATA PROCESSING EQUIPMENT OPERATOR' 'METAL WORKING FOREMAN'
 'SATELLITE COMMUNICATIONS SYSTEMS OPERATOR-MAINTAINER' 'SAXOPHONE PLAYER'
 'POWERMAN' 'GROUND SURVEILLANCE RADAR CREWMAN'
 'OPERATING ROOM SPECIALIST' 'ENGINEER OFFICER (I)'
 'ELECTRONIC WARFARE CRYPTOLOGIC STAFF OFFICER' 'PRACTICAL NURSE'
 'PHOTOGRAPHIC INSTRUMENTATION TECHNICIAN'
 'CHEMICAL SUPPLY AND PARTS SPECIALIST' 'AMMUNITION HELPER'
 'M1A1 ABRAMS TANK TURRET MECHANIC'
 'ULS CENTRAL OFFICE OPERATOR/MAINTAINER'
 'MULTI-ENGINE MEDIUM TRANSPORT AIRPLANE MECHANIC' 'PHARMACY SPECIALIST'
 'GROUND SUPPLY OFFICER (I)' 'FIELD ARTILLERY SENIOR SERGEANT'
 'COMMUNICATIONS SYSTEM CIRCUIT CONTROLLER' "GUNNER'S MATE (MISSILES)"
 'LEGAL SPECIALIST' 'DENTAL SPECIALIST' 'FOOD SERVICE SUPERVISOR'
 'FLIGHT STUDENT (TBS)' 'CORRECTIONAL SPECIALIST' 'DAMAGE CONTROLMAN'
 'AIRBORNE RADIO AND FLIGHT INSPECTION TECHNICIAN'
 'HELICOPTER PILOT, MEDIUM TRANSPORT' 'PHOTOGRAPHIC LABORATORY SPECIALIST'
 'PILOT VMF/VMF(AW)F-8D/E' 'HEAVY LIFT HELICOPTER REPAIRER'
 'PILOT VME (PROP)' 'ANTENNA INSTALLER SPECIALIST'
 'ASSAULT AMPHIBIOUS VEHICLE (AAV) REPAIRER/TECHNICIAN'
 'ASPHALT EQUIPMENT OPERATOR' 'AIRBORNE RADIO OPERATOR'
 'LIGHT AIR DEFENSE ARTILLERY UNIT COMMANDER'
 'SELF-PROPELLED FIELD ARTILLERY REPAIRER'
 'RADIO AND COMMUNICATIONS SECURITY REPAIRER'
 'ASSAULT AMPHIBIOUS VEHICLE (AAV) OFFICER (I)' 'SIGNAL SECURITY OFFICER'
 'YEOMAN' 'PATIENT ADMINISTRATION SPECIALIST' 'SUPPLY OFFICER, GENERAL'
 'PREVENTIVE MEDICINE SPECIALIST' 'MUNITIONS OFFICER'
 'SUPPLY MANAGEMENT OFFICER' 'URL SURFACE WARFARE'
 'AIRCRAFT POWERPLANT REPAIRER' 'BAKER' 'TELEPHONE & TELEGRAPH OFFICER'
 'EXPLOSIVE ORDNANCE DISPOSAL OFFICER' 'LAUNDRY MACHINE OPERATOR' 'MATE'
 'BASIC TANK AND ASSAULT AMPHIBIOUS VEHICLE OFFICER (I)'
 'MECHANIZED CAVALRY UNIT COMMANDER' 'ARMAMENT REPAIRER'
 'SHORE FIRE CONTROL PARTY MAN' 'ARTILLERY MECHANIC'
 'CIVIL ENGINEER CORPS' 'AIRCRAFT RADAR ATTACK SYSTEMS TECHNICIAN, A6'
 'CABLE SPLICER' 'PERSONNEL/ADMINISTRATIVE TECHNICIAN'
 'AIRCRAFT REPAIR TECHNICIAN, ROTARY WING RATED'
 'HELICOPTER MECHANIC, CH-53' 'TERMINAL RECEIVING SYSTEM REPAIRMAN'
 'PILOT VMAQ/EA-6A (I)' 'AH-64 ATTACK HELICOPTER REPAIRER'
 "AVIATION BOATSWAIN'S MATE (FUELS)"
 'SPECIAL FORCES, AIR OPERATIONS OFFICER (G3, S3)'
 'FILM LIBRARY SPECIALIST' 'AIRCRAFT FIREFIGHTING AND RESCUE SPECIALIST'
 'TEXTILE AND LEATHER REPAIR ASSISTANT' 'UNIT DIARY CLERK'
 'MOTION PICTURE SPECIALIST'
 'COMBAT SURVEILLANCE AND TARGET ACQUISITION CREWMAN'
 'FLIGHT ENGINEER TECHNICIAN' 'INTERROGATION-TRANSLATION OFFICER'
 'AREA INTELLIGENCE TECHNICIAN' 'COMBAT SIGNAL UNIT COMMANDER'
 'EW/SIGINT MORSE INTERCEPTOR' 'QUARTERMASTER SUPPLY OFFICER'
 'SHOE REPAIRMAN' 'MORTUARY AFFAIRS SPECIALIST' 'RADIO TECHNICIAN'
 'MAP COMPILER' 'CARDIAC SPECIALIST'
 'AIRCRAFT ELECTRICAL SYSTEMS TECHNICIAN, TA4/A4/F8/F4/RF4'
 'NUCLEAR WEAPONS EMPLOYMENT SPECIALIST, OPERATIONS AND TRAINING STAFF OFFICER (G3,A3,S3)'
 'ELECTRICAL-ELECTRONIC ENGINEERING ASSISTANT' 'AERIAL SENSOR SPECIALIST'
 'MEDICAL OFFICER, GENERAL' 'DRILL INSTRUCTOR'
 'AIRBORNE SENSOR SPECIALIST' 'MILITARY INTELLIGENCE OFFICER'
 'M1 ABRAMS TANK SYSTEM MECHANIC' 'INVENTORY MANAGEMENT SUPERVISOR'
 'POSTAL OFFICER' 'CIVIL AFFAIRS OFFICER (G5, S5)'
 'GEN SV ENGINEER UNIT COMMANDER' 'COMMUNICATIONS CENTER OFFICER'
 'ELECTRO-OPTICAL ORDNANCE REPAIRER' 'AVIONICS MAINTENANCE CHIEF'
 'FLIGHT ENGINEER SPECIALIST' 'NUCLEAR POWER PLANT CHIEF'
 'BASIC ENGINEER, CONSTRUCTION, AND EQUIPMENT MARINE'
 'SUBSISTENCE OFFICER' 'BEHAVIORAL SCIENCE SPECIALIST'
 'AIRCRAFT MECHANIC RECIPROCATING' 'BASIC MOTOR TRANSPORT OFFICER (I)'
 'URL SPECIAL WARFARE' 'ANIMAL CARE SPECIALIST' 'SPECIAL RADIO OPERATOR'
 'WATCH REPAIRMAN' 'TOPOGRAPHIC SURVEYOR'
 'MANUAL CENTRAL OFFICE REPAIRMAN' 'WEAPONS MAINTENANCE SUPERINTENDENT'
 'PARACHUTIST, TANK UNIT COMMANDER' 'JOURNALIST'
 'PATRIOT FIRE CONTROL ENHANCED OPERATOR/MAINTAINER'
 'COMMUNICATIONS-ELECTRONICS MAINTENANCE CHIEF'
 'FLIGHT ENGINEER SUPERINTENDENT' 'PIPELINE SPECIALIST'
 'SUPPLY ADMINISTRATIVE MAN - MECHANIZED ACCOUNTING'
 'BASIC OPERATIONAL COMMUNICATOR'
 'DEFENSE ACQUISITION AND SURVIVAL RADAR CREWMAN'
 'ORDNANCE VEHICLE MAINTENANCE CHIEF' 'MEAT CUTTER' 'COLONEL, GROUND'
 'AIRCRAFT FIRE PROTECTION AND RECOVERY OFFICER (III)'
 'AMMUNITION MAINTENANCE SPECIALIST' 'MASON' 'SERGEANT MISSILE CREWMAN'
 'TANK MAINTENANCE & REPAIR OFFICER' 'FIELD ARTILLERY REPAIRMAN'
 'MACHINIST' 'ECM/DF SYSTEMS REPAIRMAN' 'COUNTERINTELLIGENCE ANALYST'
 'PROCUREMENT OFFICER' "AV BOATSWAIN'S MATE (ACFT HANDLING)"
 'CONSTRUCTION DRAFTER' 'BRASS GROUP LEADER'
 'INVENTORY MANAGEMENT SUPERINTENDENT' 'EW/CRYPTANLYTIC CRYPTANALYST'
 'SELF-PROPELLED ARTILLERY (SPARTY) REPAIRER/TECHNICIAN'
 'ADJUTANT OR ADJUTANT GENERAL'
 'LAND COMBAT SUPPORT SYSTEM TEST SPECIALIST' 'DRILL SERGEANT'
 'BOMB DISPOSAL OFFICER' 'EQUIPMENT MAINTENANCE CLERK'
 'STRUCTURE SPECIALIST' 'PORTABLE BRIDGE UNIT COMMANDER'
 'AIR TRAFFIC CONTROL OFFICER, AUTOMATED SYSTEMS' 'PROVOST MARSHAL'
 'INFORMATION SYSTEMS OPERATOR-ANALYST' 'REDSTONE MISSILE MECHANIC'
 'SUBSISTENCE SUPPLY SPECIALIST'
 'NETWORK SWITCHING SYSTEMS OPERATOR-MAINTAINER'
 'FIELD ARTILLERY ROCKET CREWMAN' 'GENERAL SURGEON'
 'EXPLOSIVE ORDNANCE DISPOSAL TECHNICIAN (CONVENTIONAL WEAPONS)'
 "AVIATION BOATSWAIN'S MATE (LAUNCH/RECOVERY EQ)"
 'SERGEANT GUIDANCE REPAIRMAN'
 'TARGET ACQUISITION SURVEILLANCE RADAR REPAIRER'
 'AIRCRAFT MAINTENANCEMAN' 'PIANO PLAYER' "TORPEDOMAN'S MATE"

https://www.archives.gov/research/military/vietnam-war/casualty-lists/state-level-alpha.html for state by state

https://catalog.archives.gov/id/2240992 for the `.dat` file. Contains a lot of the big stuff.

https://amaral.northwestern.edu/blog/step-step-how-plot-map-slider-represent-time-evolu for the cholorplot slider

https://catalog.archives.gov/id/10643608 list and just year of operation
http://id.loc.gov/authorities/subjects/sh85143280.html

## Link1

## Link2

## Link3

## Link4

## Link5

Testing

In [ ]:
huh = ['asf', 'asd','pqiwr', '452', 'fuck ', ' off', 'no', 'way!', '239', 'lsdf']
what = ['asf', 'asd','pqiwr', '452', 'will', 'this', 'work', '918364', 'kjsfd']
where = ['asf', 'asd','pqiwr', '452', 'NO', 'MOVEMENT', '918364', 'uhas']

In [ ]:
batch = [huh,what,where]

for trial in batch:
    
    try: 
        int(trial[6])
    
    except ValueError:
        try:
            int(trial[7])
        except ValueError:
            print('this is the error' + ' ' + trial[7])
            trial[5] = trial[5] + trial[6]
            del trial[6]
    
        try:
            int(trial[6])
        except ValueError:
            print('this is the error' + ' ' + trial[6])
            trial[4] = trial[4] + trial[5]
            del trial[5]

batch