Going to practice ripping text from PDFs enable to put them into a database.

In [1]:
import PyPDF2
import re
import pandas as pd
import numpy as np

In [2]:
# pdf file object
# you can find find the pdf file with complete code in below
pdfFileObj = open('al-alpha.pdf', 'rb')
# pdf reader object
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
# number of pages in pdf
pages = pdfReader.numPages
pages

81

In [3]:
pageObj = pdfReader.getPage(0)
test = pageObj.extractText()

In [4]:
test

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 1 of 81\n'

In [5]:
test[235:]

'\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 1 of 81\n'

In [6]:
pageObj = pdfReader.getPage(1)
test2 = pageObj.extractText()

In [7]:
test2[235:]

'\nALLUMS ALLEN WAYNE\nARMY\nSP5\n19471020\nENTERPRISE\nCOFFEE\n19690506\nY\nALLUMS FREDERICK \nLARRY\nARMY\nCPL\n19471107\nEMPIRE\nWALKER\n19680307\nY\nAMBROSE EDWARD\nARMY\nSSG\n19280424\nGOSPORT\nCLARKE\n19690824\nY\nANDERSON ROY JR\nARMY\nPVT\n19501224\nBIRMINGHAM\nJEFFERSON\n19701207\nY\nANDERSON WILLIAM \nALLISON\nARMY\nSP4\n19480320\nMT VERNON\nMULTIPLE\n19691106\nY\nANDREWS CLIFTON \nBISHOP\nMARINE CORPS\nMAJ\n19270421\nFULTON\nCLARKE\n19660725\nY\nANDREWS COLEY L\nARMY\nSGT\n19410908\nMOBILE\nMOBILE\n19661219\nY\nANDREWS HOWARD \nRIVERS JR\nARMY\nCPT\n19420903\nHUNTSVILLE\nMADISON\n19700417\nY\nARD HENRY\nARMY\nPSG\n19270405\nROBERTSDALE\nBALDWIN\n19661031\nY\nARNOLD HAROLD\nMARINE CORPS\nPFC\n19471215\nPRICHARD\nMOBILE\n19660908\nY\nARRINGTON SAMUEL W \nJR\nARMY\nCPL\n19460123\nMONTGOMERY\nMONTGOMERY\n19670206\nY\nASH JOHN SILVY\nARMY\nSP4\n19400822\nBIRMINGHAM\nJEFFERSON\n19691202\nY\nASKEW THOMAS EARL\nMARINE CORPS\nSGT\n19470531\nMUSCLE \nSHOALS\nCOLBERT\n19691128\nY\nAUSBORN DONALD \nEUGENE\nARMY\nSP4\n19480614\nHUNTSVILLE\nMADISON\n19680812\nY\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 2 of 81\n'

Now lets remove the trailing bit.

In [8]:
#pattern = re.compile(r".*(?=Source)")   #compiling the pattern before using the flags causes it to thrown an error.

In [9]:
m = re.search(r".*(?=Source)", test, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
m.group(0)

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\n'

Now lets try putting it all together and see about turning it into a pd.Series

In [10]:
trail = test[236:] #Removes the top of the document.
m = re.search(r".*(?=Source)", trail, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
trial = m.group(0)
trial

'ABRAMS TIMOTHY C JR\nARMY\nPFC\n19461104\nTUSCALOOSA\nTUSCALOOSA\n19670103\nY\nABSTON JAMES ESTUS JR\nARMY\nPFC\n19441102\nCOTTONDALE\nTUSCALOOSA\n19670227\nY\nACTON MARION \nFRANKLIN\nARMY\nPFC\n19470901\nHUNTSVILLE\nMADISON\n19660411\nY\nADAMS JAMES CONRAD\nARMY\nMAJ\n19381025\nPHENIX CITY\nRUSSELL\n19700501\nY\nADAMS SPENCER\nARMY\nSSG\n19340506\nMOBILE\nMOBILE\n19680215\nY\nADAMS WALTER LEE\nARMY\nPFC\n19461227\nMCINTOSH\nWASHINGTON\n19670610\nY\nADAMSON LARRY ONEAL\nARMY\nSP4\n19460910\nFAIRFAX\nCHAMBERS\n19691003\nY\nADDISON ONEAL\nARMY\nSP5\n19270506\nWEST ENSLEY\nJEFFERSON\n19660504\nY\nADKISON CARL ELMUS\nARMY\nSP4\n19490531\nGADSDEN\nETOWAH\n19690812\nY\nAKINS ADRIAN ALAN\nARMY\nSP5\n19490404\nCORDOVA\nWALKER\n19691025\nY\nALEXANDER BOBBY RAY\nMARINE CORPS\nCPL\n19470213\nDECATUR\nMORGAN\n19671116\nY\nALEXANDER DAVID J JR\nARMY\nPFC\n19480228\nANNISTON\nCALHOUN\n19680718\nY\nALLEN GRANVILLE JOEL \nJR\nNAVY\nPO3\n19471102\nBIRMINGHAM\nJEFFERSON\n19680523\nY\nALLEN JOHNNY JR\nARMY\nSP4\n19470502\nBIRMINGHAM\nJEFFERSON\n19700702\nY\nALLEN ROBERT WARREN\nMARINE CORPS\nPFC\n19471005\nBIRMINGHAM\nJEFFERSON\n19651003\nY\nALLEN WILLIAM TERRY\nARMY\n1LT\n19450317\nENTERPRISE\nCOFFEE\n19671204\nY\n'

In [11]:
state_list = trial.splitlines()
print(len(state_list))
state_list[:10]

130

['ABRAMS TIMOTHY C JR',
 'ARMY',
 'PFC',
 '19461104',
 'TUSCALOOSA',
 'TUSCALOOSA',
 '19670103',
 'Y',
 'ABSTON JAMES ESTUS JR',
 'ARMY']

In [12]:
columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state']
states_df = pd.DataFrame(columns=columns)
states_df.head()

Empty DataFrame
Columns: [name, service, rank_rate, birthdate, home_city, home_county, incident_death, body_rec, state]
Index: []

The plan is to chunk the data into the appropitate sizes then put in into the dataframe. Since there is going to be one more column than what is actaully in the list, I will have to work around that issue.

OK, now lets make a function that goes through each PDF to scrape the data. I will use the function above to put the data into the proper column. Then I will embed that into a loop that will go through all the PDFs in the folder.

In [13]:
def scrape_pdf(pdf_file): #Accepts in a PDF and returns the text of the PDF broken at newlines.
    
    pdfFileObj = open(pdf_file, 'rb')               #Opens file
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj)    #Reads the file
    pages = pdfReader.numPages                      #Gets the number of pages to cycle through
    
    counter = 0
    data_list = []
    
    while counter < pages:
        
        pageObj = pdfReader.getPage(counter)
        text = pageObj.extractText()
        
        text = text[236:]                                     #Removes the head of the document. The next line removed the tail of the document.
        m = re.search(r".*(?=Source)", text, flags=re.DOTALL) #re.DOTALL - makes the '.' special character match any character at all, including a newline
        data = m.group(0)
        data_list.extend(data.splitlines())
        
        counter += 1
        
    data_list.pop() #The last thing at the end of the PDF is some text. Removing it will make it easier to deal with the data.    
    return (data_list)

In [14]:
temp = scrape_pdf('al-alpha.pdf')
len(temp)

10043

In [15]:
10043/1208

8.313741721854305

In [16]:
columns = ['name', 'service', 'rank_rate', 'birthdate', 'home_city', 'home_county', 'incident_death', 'body_rec', 'state']
states_df = pd.DataFrame(columns=columns)
states_df.head()

Empty DataFrame
Columns: [name, service, rank_rate, birthdate, home_city, home_county, incident_death, body_rec, state]
Index: []

In [ ]:
run_through = len(temp)
while run_through > 0:
    chunk = run_through[:7]
    chunk.append('AL')
    states_df.append()

In [17]:
temp[8:16]

['ABSTON JAMES ESTUS JR',
 'ARMY',
 'PFC',
 '19441102',
 'COTTONDALE',
 'TUSCALOOSA',
 '19670227',
 'Y']

In [16]:
huh = temp[:8]
what = temp[8:16]
what.append('AL')
huh.append('AL')
more = huh, what

more

(['ABRAMS TIMOTHY C JR',
  'ARMY',
  'PFC',
  '19461104',
  'TUSCALOOSA',
  'TUSCALOOSA',
  '19670103',
  'Y',
  'AL'],
 ['ABSTON JAMES ESTUS JR',
  'ARMY',
  'PFC',
  '19441102',
  'COTTONDALE',
  'TUSCALOOSA',
  '19670227',
  'Y',
  'AL'])

In [ ]:
pd.DataFrame(more)

In [ ]:
huh

In [ ]:
10043/7

In [77]:
pageObj = pdfReader.getPage(80)
test = pageObj.extractText()
test

'U.S. Military Fatal Casualties of the Vietnam War for \nHome-State-of-Record: Alabama\nName\nService\nRank / \nRate\n   Birthdate \n(YYYYMMDD)\nIncident or \nDeath Date \n(YYYYMMDD)\nRemains \nRecovered\nHome of Record:\nCity                  County\nYERION JEFFERY ALLEN\nMARINE CORPS\nPFC\n19480909\nDOTHAN\nHOUSTON\n19680504\nY\nYOUNG CLAUDE\nARMY\nSSG\n19420419\nBIRMINGHAM\nJEFFERSON\n19671021\nY\nYOUNG WILLARD FRANK\nARMY\nPFC\n19460816\nOXFORD\nCALHOUN\n19680302\nY\nYOUNGBLOOD JIMMY \nDEAN\nMARINE CORPS\nCPL\n19440809\nBIRMINGHAM\nJEFFERSON\n19671118\nY\nZEIGLER EUGENE\nARMY\nSP4\n19440921\nMONTGOMERY\nMONTGOMERY\n19671206\nY\nTotal record count for Alabama is:  1208\nSource of data: the \nVietnam Conflict Extract Data File, as of April 29, 2008\n, of the \nDefense Casualty Analysis System (DCAS) Files\n, part of Record \nGroup 330: Records of the Office of the Secretary of Defense.\nYou can view the full \nDCAS\nrecord for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main \npage is as follows:\nhttp://www.archives.gov/aad\nPage 81 of 81\n'

In [60]:
pages

81

In [65]:
# a page object

counter = 0
while counter < pages:
    pageObj = pdfReader.getPage(counter)
    #print(pageObj.extractText())
    counter += 1
    if counter == 81:
        print(pageObj.extractText())
counter

U.S. Military Fatal Casualties of the Vietnam War for
Home-State-of-Record: Alabama
Name
Service
Rank /
Rate
   Birthdate
(YYYYMMDD)
Incident or
Death Date
(YYYYMMDD)
Remains
Recovered
Home of Record:
City                  County
YERION JEFFERY ALLEN
MARINE CORPS
PFC
19480909
DOTHAN
HOUSTON
19680504
Y
YOUNG CLAUDE
ARMY
SSG
19420419
BIRMINGHAM
JEFFERSON
19671021
Y
YOUNG WILLARD FRANK
ARMY
PFC
19460816
OXFORD
CALHOUN
19680302
Y
YOUNGBLOOD JIMMY
DEAN
MARINE CORPS
CPL
19440809
BIRMINGHAM
JEFFERSON
19671118
Y
ZEIGLER EUGENE
ARMY
SP4
19440921
MONTGOMERY
MONTGOMERY
19671206
Y
Total record count for Alabama is:  1208
Source of data: the
Vietnam Conflict Extract Data File, as of April 29, 2008
, of the
Defense Casualty Analysis System (DCAS) Files
, part of Record
Group 330: Records of the Office of the Secretary of Defense.
You can view the full
DCAS
record for an individual named in the list via the Access to Archival Databases resource, or AAD.  The link to the AAD main
page is as follows:
http://www.archives.gov/aad
Page 81 of 81

81

https://www.archives.gov/research/military/vietnam-war/casualty-lists/state-level-alpha.html for state by state

Testing